<?xml version="1.0" ?>
<launch>
  <!-- Start the arm testbed launcher -->
  <arg name="ui_file" default="$(find V1)/ui/trunk.ui
                               $(find V1)/ui/turbodriver.ui 
                               $(find V1)/ui/turbodriver_linear.ui 
                               $(find V1)/ui/turbodriver_linear.ui"/>
  <arg name="tabnames" default="'Trunk'"/>
  <arg name="params" value="'j1NodePath=/pelvis/wj1
                             j2NodePath=/trunk/wj2
                             j3NodePath=/trunk/wj3
                             limb=Trunk'
                            'nodepath=/pelvis/wj1'
                            'nodepath=/trunk/wj2'
                            'nodepath=/trunk/wj3'"/>
  <arg name="title" default="'Trunk'"/>
  <arg name="position" default="10,10"/>
  <node name="trunk_joints" pkg="ui_builder" type="ui_builder.py" args="-u $(arg ui_file) 
  																		--tabnames $(arg tabnames) 
                                      -t $(arg title) 
                                      --position $(arg position) 
  																		--parameters $(arg params) 
  																		--" output="screen"/>
</launch>
