<?xml version="1.0" ?>

<robot name="manip_world_ex" xmlns:xacro="http://www.ros.org/wiki/xacro">

   <link name="table">
    <pose>1.225 0.0 0.5</pose>
    <inertial>
      <mass value="50"/>
      <origin rpy="0 0 0" xyz="0 0.0 0.0"/>
      <inertia ixx="1" ixy="0.0" ixz="0.0" iyy="1" iyz="0.0" izz="1"/>
    </inertial>
    <collision>
      <geometry>
        <box size="1 1 1"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0.0 0.0"/>
    </collision>
    <visual>
      <geometry>
        <box size="1 1 1"/>
      </geometry>
      <material name="gray">
        <color rgba="0.5 0.5 .5 1"/>
      </material>
      <origin rpy="0 0 0" xyz="0 0.0 0.0"/>
    </visual>
  </link>
  <link name="drill_box">
    <pose>0.775 -0.2 1.07</pose>
    <inertial>
      <mass value="1.0"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <collision>
      <geometry>
        <box size="0.05 0.05 0.2"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </collision>
    <visual>
      <geometry>
        <box size="0.05 0.05 0.2"/>
      </geometry>
      <material name="gray">
        <color rgba="0.5 0.5 .5 1"/>
      </material>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </visual>
  </link>

  <joint name="drill_to_table_free" type="floating">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="table"/>
    <child link="drill_box"/>
  </joint>
 
</robot>
