<robot
  name="small_plug">
  <link name="base_link">
    <inertial>
      <origin xyz="0 0 0"
        rpy="0 0 0" />
      <mass value="0.082" />
      <inertia
        ixx="0.00001"
        ixy="0"
        ixz="0"
        iyy="0.00017"
        iyz="0"
        izz="0.00017" />
    </inertial>
    <visual>
      <origin xyz=".027265 0 0"
        rpy="0 1.57079633 0" />
      <geometry>
        <cylinder length="0.0185" radius=".019075" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
<collision>   
 <origin xyz=".027265 0 0"
        rpy="0 1.57079633 0" />
      <geometry>
        <cylinder length="0.0185" radius=".019075" />
      </geometry>
      <material name="">
        <color rgba="0 0 0 0" />
      </material>
</collision> 
<visual>
      <origin xyz="0.000375 0 0"
        rpy="0 1.57079633 0" />
      <geometry>
        <cylinder length="0.036" radius=".01865" />
      </geometry>
      <material name="">
        <color rgba="1 0 0 1" />
      </material>
    </visual> 
<collision>   
  <origin xyz="0.000375 0 0"
        rpy="0 1.57079633 0" />
      <geometry>
        <cylinder length="0.036" radius=".01865" />
      </geometry>
      <material name="">
        <color rgba="1 0 0 1" />
      </material>
</collision> 
<visual>
      <origin xyz="-.027250 0 0"
        rpy="0 1.57079633 0" />
      <geometry>
        <cylinder length="0.01925" radius=".015765" />
      </geometry>
      <material name="">
        <color rgba="0 0 0 0" />
      </material>
    </visual> 
<collision>   
  <origin xyz="-.027250 0 0"
        rpy="0 1.57079633 0" />
      <geometry>
        <cylinder length="0.01925" radius=".015765" />
      </geometry>
      <material name="">
        <color rgba="0 0 0 0" />
      </material>
</collision> 
  </link>
 
</robot>