<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="v1/middle_finger/mass_parameters">
  <!-- 
    Reference for kinematic and dynamic parameters comes from:

      http://bender.jsc.nasa.gov/confluence/pages/viewpage.action?pageId=16417593
  -->
  
  <xacro:property name="MFJ1_Joint_Name" value="${prefix}MiddleMPExtensor" />
  <xacro:property name="MFJ2_Joint_Name" value="${prefix}MiddlePIPExtensor" />
  <xacro:property name="MFJ3_Joint_Name" value="${prefix}MiddleDIPExtensor" />

</robot>