<!-- Teleop control of two hands with GUI -->
<launch>
  
  <arg name="right_hand_name" default="192.168.40.2" />
  <arg name="left_hand_name" default="192.168.40.3" />

  <node pkg="handle_ros" type="handle_ros" name="handle_ros_right_hand" output="screen" respawn="true">  
    <param name="hand_name" value="$(arg right_hand_name)" type="string"/>
    <param name="hand_port" value="3490" type="string"/>
    <param name="hand_udp" value="false" type="bool"/>
    <remap from="/handle/sensors/raw" to="/right_hand/sensors/raw"/>
    <remap from="/handle/control" to="/right_hand/control"/>
    <remap from="/handle/calibrate" to="/right_hand/calibrate"/>
  </node>

  <node pkg="handle_ros" type="handle_ros" name="handle_ros_left_hand" output="screen" respawn="true">  
    <param name="hand_name" value="$(arg left_hand_name)" type="string"/>
    <param name="hand_port" value="3490" type="string"/>
    <param name="hand_udp" value="false" type="bool"/>
    <remap from="/handle/sensors/raw" to="/left_hand/sensors/raw"/>
    <remap from="/handle/control" to="/left_hand/control"/>
    <remap from="/handle/calibrate" to="/left_hand/calibrate"/>
  </node>

  <node pkg="gui_control" type="gui_control" name="gui_control" output="screen" respawn="false">
    <remap from="/handle/control" to="/right_hand/control"/>
    <remap from="/handle/calibrate" to="/right_hand/calibrate"/>
    <remap from="/handle/control2" to="/left_hand/control"/>
    <remap from="/handle/calibrate2" to="/left_hand/calibrate"/>
  </node>

</launch>
