<!-- All nodes required for visualization. -->
<launch>
  
  <param name="robot_description" 
         command="$(find xacro)/xacro.py '$(find handle_description)/meshes/handle.urdf.xacro'" />

  <node pkg="handle_sensors" type="sensors_publisher.py" name="sensors_publisher" output="screen" >
    <remap from="/handle/sensors/raw" to="/right_hand/sensors/raw"/>
  </node>
  
  <node pkg="joint_publisher" type="joint_publisher.py" name="joint_publisher" output="screen" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" output="screen" />

  <!-- <node pkg="handle_collisions" type="collisions_publisher.py" name="collisions_publisher" output="screen" /> -->
  
  <node pkg="handle_collisions" type="collisions_visualization_publisher" name="collisions_visualization_publisher" output="screen" >
    <remap from="/handle/sensors/raw" to="/right_hand/sensors/raw"/>
  </node>
  
  <node pkg="handle_collisions" type="thermal_visualization_publisher" name="thermal_visualization_publisher" output="screen" >
    <remap from="/handle/sensors/raw" to="/right_hand/sensors/raw"/>
  </node>

  <node pkg="handle_collisions" type="accelerometer_visualization_publisher" name="accelerometer_visualization_publisher" output="screen" >
    <remap from="/handle/sensors/raw" to="/right_hand/sensors/raw"/>
  </node>
  
  <!-- <node pkg="handle_sensors" type="HandleDisplay.py" name="HandleDisplay" output="screen" /> -->
  
</launch>
