<launch>

  <arg name="gzname" default="gazebo" />
  <!-- <arg name="gzworld" default="atlas.world" /> -->
  <arg name="gzworld" default="$(find mit_drcsim_scripts)/worlds/atlas_control_vicon.world" />

  <param name="/use_sim_time" type="bool" value="true" />

  <!-- start gazebo with the Atlas -->
  <!-- <node name="gazebo" pkg="atlas_utils" type="run_$(arg gzname)" args="$(arg gzworld)" output="screen" /> -->
  <node name="gazebo" pkg="mit_drcsim_scripts" type="run_$(arg gzname)" args="$(arg gzworld)" output="screen" /> 

  <!-- Robot Description -->
  <!-- <param name="robot_description" textfile="$(find atlas)/model.urdf"/> -->
  <param name="robot_description" textfile="$(find mit_drcsim_scripts)/models/mit_robot/model.urdf"/>


  <!-- Controller Manager -->
  <include file="$(find pr2_controller_manager)/controller_manager.launch" />

  <!-- Fake Calibration -->
  <node pkg="rostopic" type="rostopic" name="fake_joint_calibration"
        args="pub /calibrated std_msgs/Bool true" />

  <!-- TF Buffer Server -->
  <node pkg="tf2_ros" type="buffer_server" name="tf2_buffer_server" output="screen">
    <param name="buffer_size" value="1200.0"/>
  </node>

  <!-- Position Controllers -->
  <rosparam file="$(find mit_drcsim_scripts)/models/mit_robot/control/position_controllers.yaml" command="load" />
<!--  <rosparam file="$(find atlas)/ros/position_controllers.yaml" command="load" /> -->

  <!-- finger controllers omitted
  <rosparam file="$(find sandia_hand_left)/ros/position_controllers.yaml" command="load" />
  <rosparam file="$(find sandia_hand_right)/ros/position_controllers.yaml" command="load" />
  <node name="sandia_hand_controllers_spawner"
        pkg="pr2_controller_manager" type="spawner" output="screen"
        args="- break up double dash not to confuse comments
              -wait-for=/calibrated r_f0_j0_position_controller r_f0_j1_position_controller r_f0_j2_position_controller r_f1_j0_position_controller r_f1_j1_position_controller r_f1_j2_position_controller r_f2_j0_position_controller r_f2_j1_position_controller r_f2_j2_position_controller r_f3_j0_position_controller r_f3_j1_position_controller r_f3_j2_position_controller l_f0_j0_position_controller l_f0_j1_position_controller l_f0_j2_position_controller l_f1_j0_position_controller l_f1_j1_position_controller l_f1_j2_position_controller l_f2_j0_position_controller l_f2_j1_position_controller l_f2_j2_position_controller l_f3_j0_position_controller l_f3_j1_position_controller l_f3_j2_position_controller" />
  -->

  <!-- Controllers that come up started -->
  <node name="atlas_controllers_spawner"
        pkg="pr2_controller_manager" type="spawner" output="screen"
        args="--wait-for=/calibrated l_arm_elx_position_controller r_arm_elx_position_controller l_arm_ely_position_controller r_arm_ely_position_controller l_arm_mwx_position_controller r_arm_mwx_position_controller l_arm_shx_position_controller r_arm_shx_position_controller l_arm_usy_position_controller r_arm_usy_position_controller l_arm_uwy_position_controller r_arm_uwy_position_controller l_leg_kny_position_controller r_leg_kny_position_controller l_leg_lax_position_controller r_leg_lax_position_controller l_leg_lhy_position_controller r_leg_lhy_position_controller l_leg_mhx_position_controller r_leg_mhx_position_controller l_leg_uay_position_controller r_leg_uay_position_controller l_leg_uhz_position_controller r_leg_uhz_position_controller neck_ay_position_controller back_lbz_position_controller back_mby_position_controller back_ubx_position_controller" />


</launch>
  

