<launch>

  <arg name="gzname" default="gazebo" />
  <arg name="gzworld" default="$(find mit_drcsim_scripts)/worlds/test_manipulation_floating_hands.world" />
  <param name="/use_sim_time" type="bool" value="true" />

  <!-- start gazebo with the Sandia -->
  <node name="gazebo" pkg="mit_drcsim_scripts" type="run_$(arg gzname)" args="$(arg gzworld)" output="screen" /> 

  <!-- Robot Description -->
  <param name="robot_description" textfile="$(find mit_drcsim_scripts)/models/mit_robot_hands/floatingbase_urdfs/sandia_hands_floating.urdf"/>
  <node pkg="robot_state_publisher" type="state_publisher" name="sandia_hands_r_hand_robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <remap from="joint_states" to="/sandia_hands/r_hand/joint_states" />
  </node>
  <node pkg="robot_state_publisher" type="state_publisher" name="sandia_hands_l_hand_robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <remap from="joint_states" to="/sandia_hands/l_hand/joint_states" />
  </node>


<!-- <rosparam command="load" ... />   -->
 <rosparam file="$(find mit_drcsim_scripts)/models/mit_robot_hands/control/floating_sandia_hand_gazebo_gains.yaml" ns="sandia_hands"/> 

  <node pkg="mit_drcsim_scripts" type="mit_simple_grasp.py" name="simple_grasp_left"  ns="sandia_hands/l_hand"/>
  <node pkg="mit_drcsim_scripts" type="mit_simple_grasp.py" name="simple_grasp_right" ns="sandia_hands/r_hand"/>


</launch>
  
