<launch>

  <arg name="gzname" default="gazebo"/>
  <arg name="gzworld" default="vrc_task_1.world"/>


  <param name="/use_sim_time" type="bool" value="true"/>
  <param name="/atlas/startup_mode" value="pinned" />
  <param name="/atlas/time_to_unpin" value="10" />


  <!-- start gazebo with the Atlas -->
  <include file="$(find atlas_utils)/launch/atlas_no_controllers.launch">
    <arg name="gzname" value="$(arg gzname)"/>
    <arg name="extra_gazebo_args" value="-q -r --record_encoding=zlib --record_path=/tmp/vrc_task_1" />
    <arg name="gzworld" value="$(arg gzworld)"/>
  </include>

  <!-- to trigger synchronization delay, set
       atlas_msgs::AtlasCommand::desired_controller_period_ms to non-zero -->
  <param name="/atlas/delay_window_size" type="double" value="5.0"/>
  <param name="/atlas/delay_max_per_window" type="double" value="0.25"/>
  <param name="/atlas/delay_max_per_step" type="double" value="0.025"/>

  <!-- Robot Description -->
  <param name="robot_description" textfile="$(find atlas_sandia_hands)/atlas_sandia_hands.urdf"/>

  <include file="$(find atlas_utils)/launch/atlas_sandia_hands_bringup.launch"/>

</launch>
