<launch>

  <arg name="gzname" default="gazebo"/>
  <param name="/use_sim_time" type="bool" value="true"/>

  <!-- start gazebo with the DRC Robot -->
  <node name="gazebo" pkg="drc_robot_utils" type="run_$(arg gzname)" args="$(find mit_drcsim_scripts)/worlds/mit_wheeled_stick_torso.world"/>

  <!-- Robot Description -->
  <param name="robot_description" textfile="$(find mit_drcsim_scripts)/models/mit_wheeled_stick_torso/model.sdf"/>
  
</launch>
  

