<launch>

  <arg name="gzname" default="gazebo"/>
  <arg name="gzworld" default="qual_task_1.world"/>
  <arg name="hand_suffix" default=""/>

  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0.95"/>
  <arg name="r" default="0"/>
  <arg name="p" default="0"/>
  <arg name="yaw" default="0"/>

  <param name="/atlas/startup_mode" type="string" value="bdi_stand"/>

  <!-- start gazebo with the Atlas -->
  <include file="$(find drcsim_gazebo)/launch/atlas_no_controllers.launch">
    <arg name="gzname" value="$(arg gzname)"/>
    <arg name="extra_gazebo_args" value="-q" />
    <arg name="gzworld" value="$(arg gzworld)"/>
  </include>

  <!-- to trigger synchronization delay, set
       atlas_msgs::AtlasCommand::desired_controller_period_ms to non-zero -->
  <param name="/atlas/delay_window_size" type="double" value="5.0"/>
  <param name="/atlas/delay_max_per_window" type="double" value="0.25"/>
  <param name="/atlas/delay_max_per_step" type="double" value="0.025"/>

  <!-- Robot Description -->
<!-- v1, original  -->
<!-- 
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find atlas_description)/robots/atlas.urdf.xacro'" />
-->

<!-- v3, not hands  -->
<!--
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find atlas_description)/robots/atlas_v3_with_v1_inertia.urdf.xacro'" />
-->

<!-- v3, with hands  -->
<!--
 <param name="robot_description" command="$(find xacro)/xacro.py '$(find atlas_description)/robots/atlas_v3_with_v1_inertia_sandia_hands.urdf.xacro'" />
-->

<!-- v3, with hands and simple camera -->
<param name="robot_description" textfile="$(find mit_drcsim_scripts)/models/mit_robot/model_sim_v3_v1_inertia.urdf"/>

  <param name="robot_initial_pose/x"     value="$(arg x)" type="double"/>
  <param name="robot_initial_pose/y"     value="$(arg y)" type="double"/>
  <param name="robot_initial_pose/z"     value="$(arg z)" type="double"/>
  <param name="robot_initial_pose/roll"  value="$(arg r)" type="double"/>
  <param name="robot_initial_pose/pitch" value="$(arg p)" type="double"/>
  <param name="robot_initial_pose/yaw"   value="$(arg yaw)" type="double"/>

  <include file="$(find drcsim_gazebo)/launch/atlas_bringup.launch"/>
</launch>
