<launch>

  <arg name="gzname" default="gazebo"/>
  <arg name="gzworld" default="$(find mit_drcsim_scripts)/worlds/qual_task_2_Vicon.world"/>

  <!-- We leave Atlas pinned in Qual 2 (teams can unpin if they want) -->
  <param name="/atlas/time_to_unpin" type="double" value="0.0"/>
  <param name="/atlas/startup_mode" type="string" value="pinned"/>

  <!-- to trigger synchronization delay, set
       atlas_msgs::AtlasCommand::desired_controller_period_ms to non-zero -->
  <param name="/atlas/delay_window_size" type="double" value="5.0"/>
  <param name="/atlas/delay_max_per_window" type="double" value="0.25"/>
  <param name="/atlas/delay_max_per_step" type="double" value="0.025"/>

  <!-- start gazebo with the Atlas -->
  <include file="$(find atlas_utils)/launch/atlas_no_controllers.launch">
    <arg name="gzname" value="$(arg gzname)"/>
    <arg name="extra_gazebo_args" value="-r --record_encoding=zlib --record_path=/tmp/qual_task_2" />
    <arg name="gzworld" value="$(arg gzworld)"/>
  </include>

  <!-- Robot Description -->
  <param name="robot_description" textfile="$(find atlas_sandia_hands)/atlas_sandia_hands.urdf"/>

  <include file="$(find atlas_utils)/launch/atlas_sandia_hands_bringup.launch"/>

</launch>
