<launch>

  <arg name="gzname" default="gazebo" />
  <!-- <arg name="gzworld" default="atlas.world" /> -->
  <arg name="gzworld" default="$(find mit_drcsim_scripts)/worlds/sandia_control.world" />

  <param name="/use_sim_time" type="bool" value="true" />

  <!-- start gazebo with the Sandia hand -->
  <!-- <node name="gazebo" pkg="atlas_utils" type="run_$(arg gzname)" args="$(arg gzworld)" output="screen" /> -->
  <node name="gazebo" pkg="mit_drcsim_scripts" type="run_$(arg gzname)" args="$(arg gzworld)" output="screen" /> 

  <!-- Robot Description -->
  <!-- <param name="robot_description" textfile="$(find atlas)/model.urdf"/> -->
  <param name="robot_description" textfile="$(find mit_drcsim_scripts)/models/mit_robot_hands/model.sdf"/>

</launch>
  

