<robot xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface" name="atlas" >
  
  <include filename="$(find mit_drcsim_scripts)/models/mit_robot/xacro/atlas_skeleton.urdf" />
  <include filename="$(find mit_drcsim_scripts)/models/mit_robot/xacro/atlas.transmission" />
  <include filename="$(find mit_drcsim_scripts)/models/multisense_sl/multisense_sl.urdf" />

  <xacro:include filename="$(find handle_description)/src/irobot_hand_simple.urdf.xacro" />

  <xacro:irobot_hand side="right" parent="r_hand" reflect="1">
    <origin rpy="1.57079 0 0" xyz="0 -0.11516 -0.015"/>
  </xacro:irobot_hand>
  <xacro:irobot_hand side="left" parent="l_hand" reflect="-1">
    <origin rpy="1.57079 3.14159 3.14159" xyz="0 0.11516 0.015"/>
  </xacro:irobot_hand>

<!-- 
05 sept: Sisir added an offset of 0.045 in the urdf to account 
for the force sensor and the coupling plate, changing 
origin from 0.1 to 0.145 for sandia, and 0.05 to 0.095 for irobot

26 sept: instead OSRF added an offset of 0.03516.
mfallon made this adjustment: 
0.05 + 0.03516 = 0.08516 
0.1  + 0.03516 = 0.13516

27 sept: mfallon tested with the left irobot hand on the robot and found 
significant errors in yaw and y. fixed them as best as I could (3-4cm)
needs to be improved further.
New y seperation: 0 0.11516

24 oct: mfallon:
set z=0.015 as the irobot hand center is clearly aligned with the force torque
still think that y seperaton could be improved

-->

</robot>
