<robot xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface" name="atlas" >
  
  <include filename="$(find mit_drcsim_scripts)/models/mit_robot/xacro/atlas_skeleton.urdf" />
  <include filename="$(find sandia_hand_description)/urdf/sandia_hand_simple_shapes.urdf.xacro" />

  <xacro:sandia_hand side="right" parent="r_hand" reflect="1" joint_type="revolute" thumb_angle="0">
    <origin xyz="0 -0.1 0" rpy="-1.57079 0 -1.57079"/>
  </xacro:sandia_hand>
  <xacro:sandia_hand side="left" parent="l_hand" reflect="-1" joint_type="revolute" thumb_angle="0">
    <origin xyz="0  0.1 0" rpy=" 1.57079 0  1.57079"/>
  </xacro:sandia_hand>

  <include filename="$(find atlas_description)/urdf/atlas.transmission" />
  <include filename="$(find multisense_sl_description)/multisense_sl_description.urdf" />
  <include filename="$(find mit_drcsim_scripts)/models/mit_robot/xacro/mit_atlas.gazebo" />

  <gazebo>
    <!-- include plugin for sandia hands -->
    <plugin name="sandia_hand_plugin" filename="libSandiaHandPlugin.so"/>
  </gazebo>
</robot>
