<robot xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface" name="atlas" >
  
  <include filename="$(find mit_drcsim_scripts)/models/mit_robot/xacro/atlas_skeleton.urdf" />
  <include filename="$(find mit_drcsim_scripts)/models/mit_robot/xacro/atlas.transmission" />
  <include filename="$(find mit_drcsim_scripts)/models/multisense_sl/multisense_sl.urdf" />


<!--  left was  0 1.57079 0 -->
<!-- right was  0 1.57079 3.141 -->
<!-- both were orientated for connectors back and camera outside -->
  
  <xacro:include filename="$(find robotiq_hand_description)/cfg/robotiq_hand.urdf.xacro" />
  <xacro:robotiq_hand side="left" parent="l_hand" reflect="1">
    <origin rpy="0 -1.57079 0" xyz="0 0.19016 0.015"/>
  </xacro:robotiq_hand>
  <xacro:robotiq_hand side="right" parent="r_hand" reflect="1">
    <origin rpy="0 -1.57079 3.141" xyz="0 -0.19016 -0.015"/>
  </xacro:robotiq_hand>


<!-- right was 0  0.25 0    -1.57079 0  1.57079      -->
<!-- right was 0 -0.25 0    -1.57079 3.14158 1.57079 -->
<!-- 9d = 0.1571 rad -->
  <xacro:include filename="$(find robotiq_camera)/urdf/robotiq_camera.urdf.xacro" />
  <xacro:robotiq_camera side="left" parent="l_hand" >
    <origin xyz="-0.09  0.24 0.0" rpy="-1.57079 0  1.41369"/>
  </xacro:robotiq_camera>
  <xacro:robotiq_camera side="right" parent="r_hand" >
    <origin xyz="-0.09  -0.24 0.0" rpy="-1.57079 3.14158 1.72789"/>
  </xacro:robotiq_camera>


</robot>
