<robot xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface" name="atlas" >
  
  <include filename="$(find mit_drcsim_scripts)/models/mit_robot/xacro/atlas_skeleton.urdf" />
  <include filename="$(find sandia_hand_description)/urdf/sandia_hand_simple_shapes.urdf.xacro" />

  <!-- Hands -->
  <!-- NB: the Roll of the Sandia Hands is not identical in Sim and Reality -->
   <!-- adding an offset in the urdf to account for the ft sensor and the coupling plate, chaning origin form 0.1 to 0.145 for sandia, and 0.05 to 0.095 for irobot-->
  <xacro:sandia_hand side="right" parent="r_hand" reflect="1" joint_type="revolute" thumb_angle="0">
    <origin xyz="0 -0.145 0" rpy="0.0 0 -1.57079"/>
  </xacro:sandia_hand>
  <xacro:sandia_hand side="left" parent="l_hand" reflect="-1" joint_type="revolute" thumb_angle="0">
    <origin xyz="0  0.145 0" rpy="0.0 0  1.57079"/>
  </xacro:sandia_hand>

  <include filename="$(find mit_drcsim_scripts)/models/mit_robot/xacro/atlas.gazebo" />
  <include filename="$(find mit_drcsim_scripts)/models/mit_robot/xacro/atlas.transmission" />
  <include filename="$(find mit_drcsim_scripts)/models/multisense_sl/multisense_sl_sim.urdf" />
  <include filename="$(find mit_drcsim_scripts)/models/mit_robot/xacro/mit_atlas.gazebo" />

  <gazebo>
    <!-- include plugin for sandia hands -->
    <plugin name="sandia_hand_plugin" filename="libSandiaHandPlugin.so"/>
  </gazebo>
</robot>
