<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       name="mit_drc_robot" >
  
  <include filename="$(find mit_drcsim_scripts)/models/mit_robot/xacro/drc_skeleton.urdf" />

  <include filename="$(find mit_drcsim_scripts)/models/mit_robot/xacro/mit_drc_robot.gazebo" />
  <include filename="$(find drc_robot_utils)/urdf/drc_robot.transmission" />
  <include filename="$(find mit_drcsim_scripts)/models/mit_robot/xacro/drc_robot.sensors" />
</robot>
