<?xml version='1.0'?>
<model>
  <name>atlas_sandia_hands</name>
  <description>atlas_sandia_hands</description>
  <version>0.2.0</version>
  <sdf>model.urdf</sdf>
  <author>
    <name>John Hsu</name>
    <email>hsu@osrfoundation.org</email>
  </author>
  <description>
    This model approximates the Atlas robot built by Boston Dynamics.
  </description>
</model>
