<launch>

  <arg name="gzname" default="gazebo"/>
  <param name="/use_sim_time" type="bool" value="true"/>

  <!-- start gazebo with the DRC Robot -->
  <node name="gazebo" pkg="drc_robot_utils" type="run_$(arg gzname)" args="$(find mit_drcsim_scripts)/worlds/mit_robot_PnC.world"/>

  <!-- Robot Description -->
  <param name="robot_description" textfile="$(find mit_drcsim_scripts)/models/mit_robot_PnC/model.sdf"/>
  
   <!-- Controller Manager -->
  <include file="$(find pr2_controller_manager)/controller_manager.launch" />

  <!-- Fake Calibration -->
  <node pkg="rostopic" type="rostopic" name="fake_joint_calibration"
        args="pub /calibrated std_msgs/Bool true" />

  <!-- TF Buffer Server -->
  <node pkg="tf2_ros" type="buffer_server" name="tf2_buffer_server" output="screen">
    <param name="buffer_size" value="1200.0"/>
  </node>

  <!-- Position Controllers -->
  <rosparam file="$(find drc_robot)/ros/position_controllers.yaml" command="load" />


  <!-- Controllers that come up started -->
  <node name="drc_robot_controllers_spawner"
        pkg="pr2_controller_manager" type="spawner" output="screen"
        args="--wait-for=/calibrated  back_lbz_position_controller back_mby_position_controller back_ubx_position_controller" />

  
</launch>
  

