<launch>

  <arg name="gzname" default="gazebo"/>
  <param name="/use_sim_time" type="bool" value="true"/>

  <!-- start gazebo with the DRC Robot -->
  <node name="gazebo" pkg="mit_drcsim_scripts" type="run_$(arg gzname)" args="$(find mit_drcsim_scripts)/worlds/mit_wheeled_robot.world"/>

  <!-- Robot Description -->
  <param name="robot_description" textfile="$(find mit_drcsim_scripts)/models/mit_wheeled_robot/model.sdf"/>
  
  <!-- Controller Manager -->
  <include file="$(find pr2_controller_manager)/controller_manager.launch" />

  <!-- Fake Calibration -->
  <node pkg="rostopic" type="rostopic" name="fake_joint_calibration"
        args="pub /calibrated std_msgs/Bool true" />

  <!-- TF Buffer Server -->
  <node pkg="tf2_ros" type="buffer_server" name="tf2_buffer_server" output="screen">
    <param name="buffer_size" value="1200.0"/>
  </node>

  <!-- Position Controllers -->
  <rosparam file="$(find mit_robot)/ros/position_controllers.yaml" command="load" />
  <rosparam file="$(find camhand)/ros/position_controllers.yaml" command="load" />

  <!-- Controllers that come up started -->
  <node name="drc_robot_controllers_spawner"
        pkg="pr2_controller_manager" type="spawner" output="screen"
        args="--wait-for=/calibrated l_arm_elx_position_controller r_arm_elx_position_controller l_arm_ely_position_controller r_arm_ely_position_controller l_arm_mwx_position_controller r_arm_mwx_position_controller l_arm_shx_position_controller r_arm_shx_position_controller l_arm_usy_position_controller r_arm_usy_position_controller l_arm_uwy_position_controller r_arm_uwy_position_controller" />

<!-- l_leg_kny_position_controller r_leg_kny_position_controller l_leg_lax_position_controller r_leg_lax_position_controller l_leg_lhy_position_controller r_leg_lhy_position_controller l_leg_mhx_position_controller r_leg_mhx_position_controller l_leg_uay_position_controller r_leg_uay_position_controller l_leg_uhz_position_controller r_leg_uhz_position_controller -->
<!-- neck_ay_position_controller back_lbz_position_controller back_mby_position_controller back_ubx_position_controller  head_hokuyo_joint_position_controller -->

  <node name="camhand_controllers_spawner"
        pkg="pr2_controller_manager" type="spawner" output="screen"
        args="--wait-for=/calibrated r_f0_j0_position_controller r_f0_j1_position_controller r_f0_j2_position_controller r_f1_j0_position_controller r_f1_j1_position_controller r_f1_j2_position_controller r_f2_j0_position_controller r_f2_j1_position_controller r_f2_j2_position_controller r_f3_j0_position_controller r_f3_j1_position_controller r_f3_j2_position_controller l_f0_j0_position_controller l_f0_j1_position_controller l_f0_j2_position_controller l_f1_j0_position_controller l_f1_j1_position_controller l_f1_j2_position_controller l_f2_j0_position_controller l_f2_j1_position_controller l_f2_j2_position_controller l_f3_j0_position_controller l_f3_j1_position_controller l_f3_j2_position_controller" />

</launch>
  

