<?xml version='1.0'?>
<model>
  <name>MultiSense-SL</name>
  <version>0.1.0</version>
  <sdf>MultiSense-SL_simplified2.URDF</sdf>
  <author>
    <name>John Hsu</name>
    <email>hsu@osrfoundation.org</email>
  </author>
  <description>
    This model approximates the Atlas head sensor assembly.
  </description>
</model>
