<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find valkyrie_translator)/config/simple_val_knee.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="simple_val_knee"/>

</launch>