<!-- Basic control with Annan device. -->
<launch>

  <node pkg="handle_sensors" type="calibrate_joint_sensors.py" name="calibrate_joint_sensors" output="screen" >
    <remap from="/handle/sensors/raw" to="/right_hand/sensors/raw"/>
    <remap from="/handle/control" to="/right_hand/control"/>
    <!-- <remap from="/handle/calibrate" to="/right_hand/calibrate"/> -->
  </node>
  
</launch>
