<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="v1/waist/mass_parameters">
  <!-- 
    Reference for kinematic and dynamic parameters comes from:

      http://bender.jsc.nasa.gov/confluence/pages/viewpage.action?pageId=16417593
  -->
  
  <xacro:property name="WJ1_Joint_Name" value="WaistRotator" />
  <xacro:property name="WJ2_Joint_Name" value="WaistExtensor" />
  <xacro:property name="WJ3_Joint_Name" value="WaistLateralExtensor" />

</robot>