<?xml version='1.0'?>
<model>
  <name>Atlas</name>
  <version>0.1.0</version>
  <author>
    <name>John Hsu</name>
    <email>hsu@osrfoundation.org</email>
  </author>
  <sdf>model.urdf</sdf>
  <description>
    This model approximates the Atlas, built by Boston Dynamics.
  </description>
  <depend>
    <model>
      <uri>model://sandia_hand</uri>
      <version>0.1.0</version>
    </model>
    <model>
      <uri>model://multisense_sl</uri>
      <version>0.1.0</version>
    </model>
  </depend>
</model>
