<?xml version='1.0'?>
<model>
  <name>atlas</name>
  <description>atlas</description>
  <version>0.2.0</version>
  <sdf>atlas.urdf</sdf>
  <author>
    <name>John Hsu</name>
    <email>hsu@osrfoundation.org</email>
  </author>
  <description>
    This model approximates the Atlas robot built by Boston Dynamics.
  </description>
</model>
