<robot xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface" name="atlas" >
  
  <include filename="$(find mit_drcsim_scripts)/models/mit_robot/xacro/atlas_skeleton.urdf" />
  <include filename="$(find mit_drcsim_scripts)/models/mit_robot/xacro/atlas.transmission" />
  <include filename="$(find mit_drcsim_scripts)/models/multisense_sl/multisense_sl.urdf" />

  <xacro:include filename="$(find robotiq_hand_description)/cfg/robotiq_hand.urdf.xacro" />
  <xacro:include filename="$(find handle_description)/src/irobot_hand_simple.urdf.xacro" />

  <link name="left_base_link"/>
  <joint name="left_base_link_fix" type="fixed">
    <parent link="l_hand"/>
    <child link="left_base_link"/>
    <origin rpy="0 .5236 0" xyz="0 .19016 0.015"/>
  </joint>

  <xacro:robotiq_hand side="left" parent="left_base_link" reflect="-1">
<!--    <origin rpy="0 -.5236 3.141" xyz="0 -.19016 -0.015"/>-->
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </xacro:robotiq_hand>

  <xacro:irobot_hand side="right" parent="r_hand" reflect="1">
    <origin rpy="1.57079 0 0" xyz="0 -0.11516 -0.015"/>
  </xacro:irobot_hand>


</robot>
