<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="schunk_sdh_gazebo" params="name">

    <gazebo reference="${name}_palm_link">
      <material>Schunk/LightGrey</material>
      <turnGravityOff>false</turnGravityOff>
    </gazebo>
  
    <gazebo reference="${name}_finger_11_link">
      <material>Schunk/LightGrey</material>
      <turnGravityOff>false</turnGravityOff>
    </gazebo>
  
    <gazebo reference="${name}_finger_12_link">
      <selfCollide>true</selfCollide>
      <sensor name='${name}_finger_12_contact_sensor' type='contact'>
        <always_on>true</always_on>
        <update_rate>100</update_rate>
        <contact>
          <collision>${name}_finger_12_link_geom</collision>
        </contact>
        <plugin name="${name}_finger_12_gazebo_ros_bumper_controller" filename="libgazebo_ros_bumper.so">
          <alwaysOn>true</alwaysOn>
          <updateRate>100.0</updateRate>
          <frameName>${name}_finger_12_link</frameName>
          <bumperTopicName>${name}_finger_12_bumper</bumperTopicName>
        </plugin>
      </sensor>
      <material>Schunk/LightGrey</material>
      <turnGravityOff>false</turnGravityOff>
    </gazebo>

    <gazebo reference="${name}_finger_13_link">
      <selfCollide>true</selfCollide>  
      <sensor name='${name}_finger_13_contact_sensor' type='contact'>
        <always_on>true</always_on>
        <update_rate>100</update_rate>        
        <contact>
          <collision>${name}_finger_13_link_geom</collision>
        </contact>
        <plugin name="${name}_finger_13_gazebo_ros_bumper_controller" filename="libgazebo_ros_bumper.so">
          <alwaysOn>true</alwaysOn>
          <updateRate>100.0</updateRate>
          <frameName>${name}_finger_13_link</frameName>
          <bumperTopicName>${name}_finger_13_bumper</bumperTopicName>
        </plugin>
      </sensor>
      <material>Schunk/LightGrey</material>
    </gazebo>

    <gazebo reference="${name}_finger_21_link">
      <material>Schunk/LightGrey</material>
      <turnGravityOff>true</turnGravityOff>
      <mu1 value="500" />
      <mu2 value="500" />
      <kp value="1000000.0" />
      <kd value="1.0" />
    </gazebo>
  
    <gazebo reference="${name}_finger_22_link">
      <selfCollide>true</selfCollide>    
      <sensor name='${name}_finger_22_contact_sensor' type='contact'>
        <always_on>true</always_on>
        <update_rate>100</update_rate>        
        <contact>
          <collision>${name}_finger_22_link_geom</collision>
        </contact>
        <plugin name="${name}_finger_22_gazebo_ros_bumper_controller" filename="libgazebo_ros_bumper.so">
          <alwaysOn>true</alwaysOn>
          <updateRate>100.0</updateRate>
          <frameName>${name}_finger_22_link</frameName>
          <bumperTopicName>${name}_finger_22_bumper</bumperTopicName>
        </plugin>
      </sensor>
      <material>Schunk/LightGrey</material>
      <turnGravityOff>false</turnGravityOff>
    </gazebo>

    <gazebo reference="${name}_finger_23_link">
      <selfCollide>true</selfCollide>
      <sensor name='${name}_finger_23_contact_sensor' type='contact'>
        <always_on>true</always_on>
        <update_rate>100</update_rate>        
        <contact>
          <collision>${name}_finger_23_link_geom</collision>
        </contact>
        <plugin name="${name}_finger_23_gazebo_ros_bumper_controller" filename="libgazebo_ros_bumper.so">
          <alwaysOn>true</alwaysOn>
          <updateRate>100.0</updateRate>
          <frameName>${name}_finger_23_link</frameName>
          <bumperTopicName>${name}_finger_23_bumper</bumperTopicName>
        </plugin>
      </sensor>
      <material>Schunk/LightGrey</material>
    </gazebo>

    <gazebo reference="${name}_thumb_1_link">
      <material>Schunk/LightGrey</material>
      <turnGravityOff>false</turnGravityOff>
    </gazebo>

    <gazebo reference="${name}_thumb_2_link">
      <selfCollide>true</selfCollide>
      <sensor name='${name}_thumb_2_contact_sensor' type='contact'>
        <always_on>true</always_on>
        <update_rate>100</update_rate>        
        <contact>
          <collision>${name}_thumb_2_link_geom</collision>
        </contact>
        <plugin name="${name}_thumb_2_gazebo_ros_bumper_controller" filename="libgazebo_ros_bumper.so">
          <alwaysOn>true</alwaysOn>
          <updateRate>100.0</updateRate>
          <frameName>${name}_thumb_2_link</frameName>
          <bumperTopicName>${name}_thumb_2_bumper</bumperTopicName>
        </plugin>        
      </sensor>
      <material>Schunk/LightGrey</material>
      <turnGravityOff>false</turnGravityOff>
    </gazebo>

    <gazebo reference="${name}_thumb_3_link">
      <selfCollide>true</selfCollide>
      <sensor name='${name}_thumb_3_contact_sensor' type='contact'>
        <always_on>true</always_on>
        <update_rate>100</update_rate>        
        <contact>
          <collision>${name}_thumb_3_link_geom</collision>
        </contact>
        <plugin name="${name}_thumb_3_gazebo_ros_bumper_controller" filename="libgazebo_ros_bumper.so">
          <alwaysOn>true</alwaysOn>
          <updateRate>100.0</updateRate>
          <frameName>${name}_thumb_3_link</frameName>
          <bumperTopicName>${name}_thumb_3_bumper</bumperTopicName>
        </plugin>
      </sensor>      
      <material>Schunk/LightGrey</material>
    </gazebo>

    <gazebo reference="${name}_finger_21_joint">
      <stopKd value='1.0' />
      <stopKp value='10000000' />
      <fudgeFactor value='1.0' />
      <provideFeedback value="true"/>
    </gazebo>


  </xacro:macro>

</robot>
