<launch>

<!-- <include file="$(find gazebo_worlds)/launch/empty_world.launch"/> -->


<!-- start gazebo with an empty plane -->
 <param name="/use_sim_time" value="true" />

<!-- starts gazebo in paused mode. -->
<node name="gazebo" pkg="gazebo" type="gazebo" args=" -u $(find gazebo_worlds)/worlds/empty.world" respawn="false" output="screen"/>


<!-- pause physics before spawning atlas -->
<!-- <node pkg="rosservice" type="rosservice" name="pause" args="call - -wait gazebo/pause_physics" /> --> 

<include file="$(find atlas_description)/launch/atlas_spawn_gazebo.launch"/>

</launch>
