<launch>
  <!-- send atlas urdf to param server -->
  <!--  <param name="robot_description" command="" />  -->

  <node name="spawn_hovering_atlas" pkg="gazebo" type="spawn_model" args="-urdf -file $(find atlas_description)/urdf/hoveringAtlas_pre_fuerte.urdf -z 0.00 -model hovering_atlas" respawn="false" output="screen" />

</launch>
