<launch>

<!-- spawn structure -->
<include file="$(find drc_object_models)/launch/small_room_world.launch"/> 


<!-- spawn objects -->
<include file="$(find drc_object_models_big)/launch/table_0.launch"/>
<include file="$(find drc_object_models_big)/launch/coffee_cup.launch"/>
<include file="$(find drc_object_models_big)/launch/desk_1.launch"/>

<include file="$(find drc_object_models_big)/launch/table_1.launch"/>
<include file="$(find drc_object_models_big)/launch/wine_cup_0.launch"/>

<!-- <include file="$(find drc_object_models_big)/launch/cylinder_0.launch"/> -->
<!-- <include file="$(find drc_object_models_big)/launch/box_0.launch"/> -->

<include file="$(find drc_object_models_big)/launch/ikea_cup_0.launch"/> 
<include file="$(find drc_object_models_big)/launch/black_wine_glass_0.launch"/> 
<include file="$(find drc_object_models_big)/launch/black_wine_glass_1.launch"/> 


<!-- spawn robot -->
<param name="/use_sim_time" value="true" />
<node name="spawn_wheeled_atlas" pkg="gazebo" type="spawn_model" args="-urdf -file $(find atlas_description)/urdf/sensing_wheeledAtlas_pre_fuerte.urdf -z 0.5 -x 1.0  -model wheeled_atlas" respawn="false" output="screen" />

</launch>
