<!--
MAPPING / COLLISION AVOIDANCE

This launch file has the following dependencies (currently not in the general ROS dependencies:

Required:
- tf
- openni2 (alternatively freenect for kinect)
- octomap_server
- pcl-ros

Optional for visualization:
- rviz
-->
<launch>
	<!-- OpenNI2 driver -->
	<!-- kinect2_bridge -->

	<!-- Static transform between lwr_arm_7_link and camera, akin to KINECT_RGB in LCM/drake land -->
	<!-- TODO: correct calibration -->
	<!--<node pkg="tf" type="static_transform_publisher" name="lwr7_to_kinect" args="0.12 -0.03 0.06 0.706825 -0.000562864 0.707388 0.000563312 lwr_arm_7_link camera_link 10" />-->
    <node pkg="tf" type="static_transform_publisher" name="lwr7_to_kinect2" args="0.12 -0.03 0.12 0 0 .5 .5 lwr_arm_7_link kinect2_link 10" />

	<node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
        <param name="resolution" value="0.005" />

        <!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
        <param name="frame_id" type="string" value="/base" />

        <!-- maximum range to integrate (speedup!) -->
        <param name="sensor_model/max_range" value="5.0" />

        <!-- data source to integrate (PointCloud2) -->
        <!--<remap from="cloud_in" to="/camera/depth_registered/points" />-->
        <remap from="cloud_in" to="/kinect2/hd/points" />
    </node>

    <!-- For visualization, rviz with specific config file -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find drc_translators)/resources/octomap_mapping_kinect2.rviz"/>
    <!--<node pkg="rviz" type="rviz" name="rviz" args="-d $(find drc_translators)/resources/octomap_mapping.rviz"/>-->
</launch>