<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       name="schunk_hand_left" >
       
  <xacro:include filename="../../schunk_description/urdf/sdh/sdh.urdf.xacro" />  

  <link name="plane::xy::base">
    <inertial>
        <mass value="0.1" />
        <origin xyz="0 0 0.0" rpy="0 0 0" />
        <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
    </inertial>
  </link>
  
  <xacro:schunk_sdh name="sdh" parent="plane::xy::base" >
    <origin rpy="0 1.57 1.57" xyz="0 0 0"/>
  </xacro:schunk_sdh>
</robot>
