<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       name="sandia_hand_left" >

<!-- derived from /usr/share/sandia-hand-5.1/ros/sandia_hand_description/robots/sandia_hand_left_on_box.urdf.xacro-->

  <!-- Commenting out urdf with meshes, using simple collision shapes instead -->
  <!--<include filename="$(find mit_drcsim_scripts)/models/mit_robot_hands/drake_urdfs/new_xacro/sandia_hand_drake.urdf.xacro" />-->
  <include filename="$(find mit_drcsim_scripts)/models/mit_robot_hands/drake_urdfs/new_xacro/sandia_hand_simple_shapes_drake.urdf.xacro" />
  
  <include filename="$(find mit_drcsim_scripts)/models/mit_robot_hands/floatingbase_urdfs/xacro/floating_base.urdf.xacro" />
  
  <link name="world">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <inertial>
      <mass value="0.1"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
    </inertial>
  </link>
  
  <xacro:base_links side ="left" reflect="-1"/>
  <xacro:sandia_hand side="left" parent="left_base_yaw" reflect="-1">
    <origin xyz="0 0 0.0" rpy="0 -1.57079 0"/>
  </xacro:sandia_hand>

</robot>
