<!-- Launch iRobot handle ROS node, as well as our own iRobot hand control node -->
<launch>
  
  <arg name="hand_id" />
  <arg name="side" value="r"/>
  <arg name="namespace" value = "irobot_hands/$(arg side)_hand" />
  
  <group ns="$(arg namespace)">
    <include file="$(find mit_helios_scripts)/launch/mit_handle_ros.launch">
      <arg name="namespace" value="$(arg namespace)"/>
      <arg name="hand_id" value="$(arg hand_id)"/>
      <arg name="side" value="$(arg side)"/>
    </include>
    
    <node pkg="mit_helios_scripts" type="joint_angle_estimation_data_collection.py" name="data_collection" output="screen" respawn="false">
    </node>
  </group>
  
</launch>
