<launch>
  
  <arg name="hand_id" />
  <arg name="side" />
  <arg name="namespace" default="handle" />
  
  <node pkg="handle_ros" type="handle_ros" name="handle_ros" output="screen" respawn="true">  
    <param name="hand_name" value="192.168.40.$(arg hand_id)" type="string"/>
    <param name="hand_port" value="3490" type="string"/>
    <param name="hand_udp" value="false" type="bool"/>
    <remap from="/handle/sensors/raw" to="/$(arg namespace)/sensors/raw"/>
    <remap from="/handle/control" to="/$(arg namespace)/control"/>
    <remap from="/handle/calibrate" to="/$(arg namespace)/calibrate"/> -->
  </node>

  <node pkg="handle_sensors" type="sensors_publisher.py" name="sensors_publisher" output="screen" respawn="true">
    <remap from="/handle/sensors/raw" to="/$(arg namespace)/sensors/raw"/>
    <remap from="/handle/sensors/calibrated" to="/$(arg namespace)/sensors/calibrated"/>
    <remap from="/handle/events/sensors/calibrate" to="/$(arg namespace)/events/sensors/calibrate"/>
  </node>
</launch>
