<launch>

  <!-- Laser diagnostics -->
  <node pkg="multisense_diagnostics" type="stream_diagnostics" name="laser_diagnostics" >
    <remap from="stream_name" to="laser" />
  </node>


  <!-- Depth diagnostics -->
  <node pkg="multisense_diagnostics" type="stream_diagnostics" name="camera_diagnostics_depth" >
    <remap from="stream_name/diagnostics" to="multisense_sl/depth_diagnostics" />
  </node>

  <!-- Camera diagnostics -->
  <node pkg="multisense_diagnostics" type="stream_diagnostics" name="camera_diagnostics_image" >
    <remap from="stream_name/diagnostics" to="multisense_sl/camera_diagnostics" />
  </node>

  <!-- Joint diagnostics -->
  <node pkg="multisense_diagnostics" type="joint_diagnostics" name="joint_diagnostics" >
    <remap from="stream_name" to="laser_joint" />
  </node>


  <!-- Aggregator -->
  <node pkg="diagnostic_aggregator" type="aggregator_node" name="diagnostic_aggregator" >
      <rosparam command="load" file="$(find multisense_diagnostics)/conf/analyzers.conf" />
  </node>


</launch>
