<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="v1/little_finger">
  <!--
        Reference for kinematic and dynamic parameters comes from:

            http://bender.jsc.nasa.gov/confluence/pages/viewpage.action?pageId=16417593
  -->
  <xacro:include filename="$(find V1)/models/V1/xacro/little_finger/joint_names.xacro"/>
  <xacro:include filename="$(find V1)/models/V1/xacro/little_finger/actuator_names.xacro"/>
  <xacro:include filename="$(find V1)/models/V1/xacro/little_finger/link_names.xacro"/>
  <xacro:include filename="$(find V1)/models/V1/xacro/little_finger/joint_limits.xacro"/>
  <xacro:include filename="$(find V1)/models/V1/xacro/little_finger/dh_parameters.xacro"/>
  <xacro:include filename="$(find V1)/models/V1/xacro/little_finger/mass_parameters.xacro"/>

  <!-- Link properties. -->
  <xacro:property name="LFJ1_Link_Width" value="0.010"/>
  <xacro:property name="LFJ1_Link_Height" value="0.010"/>
  <xacro:property name="LFJ1_Link_Length" value="0.010"/>

  <xacro:property name="LFJ1_Link_Origin_X" value="0"/>
  <xacro:property name="LFJ1_Link_Origin_Y" value="0"/>
  <xacro:property name="LFJ1_Link_Origin_Z" value="0"/>


  <xacro:property name="LFJ2_Link_Width" value="0.019"/>
  <xacro:property name="LFJ2_Link_Height" value="0.054"/>
  <xacro:property name="LFJ2_Link_Length" value="0.026"/>

  <xacro:property name="LFJ2_Link_Origin_X" value="0"/>
  <xacro:property name="LFJ2_Link_Origin_Y" value="${reflect * 0.017}"/>
  <xacro:property name="LFJ2_Link_Origin_Z" value="${reflect * 0.050169}"/>


  <xacro:property name="LFJ3_Link_Width" value="0.034"/>
  <xacro:property name="LFJ3_Link_Height" value="0.013"/>
  <xacro:property name="LFJ3_Link_Length" value="0.022"/>

  <xacro:property name="LFJ3_Link_Origin_X" value="0.011"/>
  <xacro:property name="LFJ3_Link_Origin_Y" value="0"/>
  <xacro:property name="LFJ3_Link_Origin_Z" value="0"/>


  <xacro:property name="LFJ4_Link_Width" value="0.027"/>
  <xacro:property name="LFJ4_Link_Height" value="0.012"/>
  <xacro:property name="LFJ4_Link_Length" value="0.019"/>

  <xacro:property name="LFJ4_Link_Origin_X" value="0.0086"/>
  <xacro:property name="LFJ4_Link_Origin_Y" value="0"/>
  <xacro:property name="LFJ4_Link_Origin_Z" value="0"/>

  <xacro:macro name="make_little_finger" params="prefix reflect little_finger_root_link">
    <!-- LINKS -->
    <xacro:box_link name="${LFJ1_Distal_Link}"
                    width="${LFJ1_Link_Width}" height="${LFJ1_Link_Height}" depth="${LFJ1_Link_Length}" mass="${LFJ1_Link_Mass}"
                    origin_rpy="0 0 0"
                    origin_xyz="${LFJ1_Link_Origin_X} ${LFJ1_Link_Origin_Y} ${LFJ1_Link_Origin_Z}"
                    visual_mesh="${mesh_root}/ssf1_${prefix}.stl"
                    material="Gold"
                    collision_mesh="${mesh_root}/ssf1_${prefix}.stl"/>

    <xacro:box_link name="${LFJ2_Distal_Link}"
                    width="${LFJ2_Link_Width}" height="${LFJ2_Link_Height}" depth="${LFJ2_Link_Length}" mass="${LFJ2_Link_Mass}"
                    origin_rpy="0 0 0"
                    origin_xyz="${LFJ2_Link_Origin_X} ${LFJ2_Link_Origin_Y} ${LFJ2_Link_Origin_Z}"
                    visual_mesh="${mesh_root}/ssf2_${prefix}.stl"
                    material="Gold"
                    collision_mesh="${mesh_root}/ssf2_${prefix}.stl"/>

    <xacro:box_link name="${LFJ3_Distal_Link}"
                    width="${LFJ3_Link_Width}" height="${LFJ3_Link_Height}" depth="${LFJ3_Link_Length}" mass="${LFJ3_Link_Mass}"
                    origin_rpy="0 0 0"
                    origin_xyz="${LFJ3_Link_Origin_X} ${LFJ3_Link_Origin_Y} ${LFJ3_Link_Origin_Z}"
                    visual_mesh="${mesh_root}/sf2_ssf3.stl"
                    material="Gold"
                    collision_mesh="${mesh_root}/sf2_ssf3.stl"/>

    <xacro:box_link name="${LFJ4_Distal_Link}"
                    width="${LFJ4_Link_Width}" height="${LFJ4_Link_Height}" depth="${LFJ4_Link_Length}" mass="${LFJ4_Link_Mass}"
                    origin_rpy="0 0 0"
                    origin_xyz="${LFJ4_Link_Origin_X} ${LFJ4_Link_Origin_Y} ${LFJ4_Link_Origin_Z}"
                    visual_mesh="${mesh_root}/sf3_ssf4.stl"
                    material="Gold"
                    collision_mesh="${mesh_root}/sf3_ssf4.stl"/>

    <!-- LFJ1 -->
    <xacro:revolute_joint jointName="${LFJ1_Joint_Name}"
                          parent="${LFJ1_Proximal_Link}" child="${LFJ1_Distal_Link}"
                          origin_xyz="${LFJ1_Origin_X} ${LFJ1_Origin_Y} ${LFJ1_Origin_Z}"
                          origin_rpy="${LFJ1_Orientation_Roll} ${LFJ1_Orientation_Pitch} ${LFJ1_Orientation_Yaw}">
        <limit effort="${LFJ1_Torque_Limit}" lower="${LFJ1_Lower_Limit}" upper="${LFJ1_Upper_Limit}" velocity="${LFJ1_Speed_Limit}"/>
    </xacro:revolute_joint>

    <!-- LFJ2 -->
    <xacro:revolute_joint jointName="${LFJ2_Joint_Name}"
                          parent="${LFJ2_Proximal_Link}" child="${LFJ2_Distal_Link}"
                          origin_xyz="${LFJ2_Origin_X} ${LFJ2_Origin_Y} ${LFJ2_Origin_Z}"
                          origin_rpy="${LFJ2_Orientation_Roll} ${LFJ2_Orientation_Pitch} ${LFJ2_Orientation_Yaw}">
        <limit effort="${LFJ2_Torque_Limit}" lower="${LFJ2_Lower_Limit}" upper="${LFJ2_Upper_Limit}" velocity="${LFJ2_Speed_Limit}"/>
    </xacro:revolute_joint>

    <!-- LFJ3 -->
    <xacro:revolute_joint jointName="${LFJ3_Joint_Name}"
                          parent="${LFJ3_Proximal_Link}" child="${LFJ3_Distal_Link}"
                          origin_xyz="${LFJ3_Origin_X} ${LFJ3_Origin_Y} ${LFJ3_Origin_Z}"
                          origin_rpy="${LFJ3_Orientation_Roll} ${LFJ3_Orientation_Pitch} ${LFJ3_Orientation_Yaw}">
        <limit effort="${LFJ3_Torque_Limit}" lower="${LFJ3_Lower_Limit}" upper="${LFJ3_Upper_Limit}" velocity="${LFJ3_Speed_Limit}"/>
    </xacro:revolute_joint>

    <!-- LFJ4 -->
    <xacro:revolute_joint jointName="${LFJ4_Joint_Name}"
                          parent="${LFJ4_Proximal_Link}" child="${LFJ4_Distal_Link}"
                          origin_xyz="${LFJ4_Origin_X} ${LFJ4_Origin_Y} ${LFJ4_Origin_Z}"
                          origin_rpy="${LFJ4_Orientation_Roll} ${LFJ4_Orientation_Pitch} ${LFJ4_Orientation_Yaw}">
        <limit effort="${LFJ4_Torque_Limit}" lower="${LFJ4_Lower_Limit}" upper="${LFJ4_Upper_Limit}" velocity="${LFJ4_Speed_Limit}"/>
    </xacro:revolute_joint>

  </xacro:macro>

  <xacro:macro name="make_little_finger_fixed" params="prefix reflect little_finger_root_link">
    <!-- LINKS -->
    <xacro:box_link name="${LFJ1_Distal_Link}"
                    width="${LFJ1_Link_Width}" height="${LFJ1_Link_Height}" depth="${LFJ1_Link_Length}" mass="${LFJ1_Link_Mass}"
                    origin_rpy="0 0 0"
                    origin_xyz="${LFJ1_Link_Origin_X} ${LFJ1_Link_Origin_Y} ${LFJ1_Link_Origin_Z}"
                    visual_mesh="${mesh_root}/ssf1_${prefix}.stl"
                    material="Gold"
                    collision_mesh="${mesh_root}/ssf1_${prefix}.stl"/>

    <xacro:box_link name="${LFJ2_Distal_Link}"
                    width="${LFJ2_Link_Width}" height="${LFJ2_Link_Height}" depth="${LFJ2_Link_Length}" mass="${LFJ2_Link_Mass}"
                    origin_rpy="0 0 0"
                    origin_xyz="${LFJ2_Link_Origin_X} ${LFJ2_Link_Origin_Y} ${LFJ2_Link_Origin_Z}"
                    visual_mesh="${mesh_root}/ssf2_${prefix}.stl"
                    material="Gold"
                    collision_mesh="${mesh_root}/ssf2_${prefix}.stl"/>

    <xacro:box_link name="${LFJ3_Distal_Link}"
                    width="${LFJ3_Link_Width}" height="${LFJ3_Link_Height}" depth="${LFJ3_Link_Length}" mass="${LFJ3_Link_Mass}"
                    origin_rpy="0 0 0"
                    origin_xyz="${LFJ3_Link_Origin_X} ${LFJ3_Link_Origin_Y} ${LFJ3_Link_Origin_Z}"
                    visual_mesh="${mesh_root}/sf2_ssf3.stl"
                    material="Gold"
                    collision_mesh="${mesh_root}/sf2_ssf3.stl"/>

    <xacro:box_link name="${LFJ4_Distal_Link}"
                    width="${LFJ4_Link_Width}" height="${LFJ4_Link_Height}" depth="${LFJ4_Link_Length}" mass="${LFJ4_Link_Mass}"
                    origin_rpy="0 0 0"
                    origin_xyz="${LFJ4_Link_Origin_X} ${LFJ4_Link_Origin_Y} ${LFJ4_Link_Origin_Z}"
                    visual_mesh="${mesh_root}/sf3_ssf4.stl"
                    material="Gold"
                    collision_mesh="${mesh_root}/sf3_ssf4.stl"/>

    <!-- LFJ1 -->
    <xacro:fixed_joint jointName="${LFJ1_Joint_Name}"
                       parent="${LFJ1_Proximal_Link}" child="${LFJ1_Distal_Link}"
                       origin_xyz="${LFJ1_Origin_X} ${LFJ1_Origin_Y} ${LFJ1_Origin_Z}"
                       origin_rpy="${LFJ1_Orientation_Roll} ${LFJ1_Orientation_Pitch} ${LFJ1_Orientation_Yaw}"/>

    <!-- LFJ2 -->
    <xacro:fixed_joint jointName="${LFJ2_Joint_Name}"
                          parent="${LFJ2_Proximal_Link}" child="${LFJ2_Distal_Link}"
                          origin_xyz="${LFJ2_Origin_X} ${LFJ2_Origin_Y} ${LFJ2_Origin_Z}"
                          origin_rpy="${LFJ2_Orientation_Roll} ${LFJ2_Orientation_Pitch} ${LFJ2_Orientation_Yaw}"/>

    <!-- LFJ3 -->
    <xacro:fixed_joint jointName="${LFJ3_Joint_Name}"
                          parent="${LFJ3_Proximal_Link}" child="${LFJ3_Distal_Link}"
                          origin_xyz="${LFJ3_Origin_X} ${LFJ3_Origin_Y} ${LFJ3_Origin_Z}"
                          origin_rpy="${LFJ3_Orientation_Roll} ${LFJ3_Orientation_Pitch} ${LFJ3_Orientation_Yaw}"/>

    <!-- LFJ4 -->
    <xacro:fixed_joint jointName="${LFJ4_Joint_Name}"
                          parent="${LFJ4_Proximal_Link}" child="${LFJ4_Distal_Link}"
                          origin_xyz="${LFJ4_Origin_X} ${LFJ4_Origin_Y} ${LFJ4_Origin_Z}"
                          origin_rpy="${LFJ4_Orientation_Roll} ${LFJ4_Orientation_Pitch} ${LFJ4_Orientation_Yaw}"/>
  </xacro:macro>

  <!-- Actuators -->
  <xacro:macro name="v1_right_little_finger_actuators" params="prefix api">
    <xacro:v1_actuator name="${RLFA_Actuator_Name}" api="${api}" />
  </xacro:macro>

  <xacro:macro name="v1_left_little_finger_actuators" params="prefix api">
    <xacro:v1_actuator name="${LLFA_Actuator_Name}" api="${api}" />
  </xacro:macro>

  <!-- Transmissions -->
  <xacro:macro name="v1_right_little_finger_transmissions" params="prefix">
    <xacro:finger4_transmission tranName="${prefix}LittleFingerTransmission" 
                                joint1="${LFJ1_Joint_Name}"
                                joint2="${LFJ2_Joint_Name}"
                                joint3="${LFJ3_Joint_Name}"
                                joint4="${LFJ4_Joint_Name}"
                                actuator="${RLFA_Actuator_Name}" />
  </xacro:macro>

  <xacro:macro name="v1_left_little_finger_transmissions" params="prefix">
    <xacro:finger4_transmission tranName="${prefix}LittleFingerTransmission" 
                                joint1="${LFJ1_Joint_Name}"
                                joint2="${LFJ2_Joint_Name}"
                                joint3="${LFJ3_Joint_Name}"
                                joint4="${LFJ4_Joint_Name}"
                                actuator="${LLFA_Actuator_Name}" />
  </xacro:macro>

  <xacro:macro name="v1_right_little_finger_transmissions_simple" params="prefix">
    <xacro:simple_transmission jointName="${LFJ2_Joint_Name}" actuatorName="${RLFA_Actuator_Name}" reduction="1" offset="0"/>
  </xacro:macro>

  <xacro:macro name="v1_left_little_finger_transmissions_simple" params="prefix">
    <xacro:simple_transmission jointName="${LFJ2_Joint_Name}" actuatorName="${LLFA_Actuator_Name}" reduction="1" offset="0"/>
  </xacro:macro>

  <!-- Modes -->
  <xacro:macro name="v1_right_little_finger_modes" params="prefix">
    <xacro:v1_modes jointName="${LFJ1_Joint_Name}" actuatorName="${RLFA_Actuator_Name}" />
    <xacro:v1_modes jointName="${LFJ2_Joint_Name}" actuatorName="${RLFA_Actuator_Name}" />
    <xacro:v1_modes jointName="${LFJ3_Joint_Name}" actuatorName="${RLFA_Actuator_Name}" />
  </xacro:macro>

  <xacro:macro name="v1_left_little_finger_modes" params="prefix">
    <xacro:v1_modes jointName="${LFJ1_Joint_Name}" actuatorName="${LLFA_Actuator_Name}" />
    <xacro:v1_modes jointName="${LFJ2_Joint_Name}" actuatorName="${LLFA_Actuator_Name}" />
    <xacro:v1_modes jointName="${LFJ3_Joint_Name}" actuatorName="${LLFA_Actuator_Name}" />
  </xacro:macro>

  <!-- Complete interface -->
  <xacro:macro name="make_right_little_finger_interface" params="api">
    <xacro:v1_right_little_finger_actuators prefix="Right" api="${api}" />
    <xacro:v1_right_little_finger_transmissions prefix="Right" />
    <xacro:v1_right_little_finger_modes prefix="Right" />
  </xacro:macro>

  <xacro:macro name="make_left_little_finger_interface" params="api">
    <xacro:v1_left_little_finger_actuators prefix="Left" api="${api}" />
    <xacro:v1_left_little_finger_transmissions prefix="Left" />
    <xacro:v1_left_little_finger_modes prefix="Left" />
  </xacro:macro>

  <!-- Simple interface -->
  <xacro:macro name="make_right_little_finger_interface_simple" params="api">
    <xacro:v1_right_little_finger_actuators prefix="Right" api="${api}" />
    <xacro:v1_right_little_finger_transmissions_simple prefix="Right" />
    <xacro:v1_right_little_finger_modes prefix="Right" />
  </xacro:macro>

  <xacro:macro name="make_left_little_finger_interface_simple" params="api">
    <xacro:v1_left_little_finger_actuators prefix="Left" api="${api}" />
    <xacro:v1_left_little_finger_transmissions_simple prefix="Left" />
    <xacro:v1_left_little_finger_modes prefix="Left" />
  </xacro:macro>

</robot>