<robot xmlns:xacro="http://ros.org/wiki/xacro" name="valkyrie">
  <!-- mfallon extra stuff left hand-->
  <link name="l_hand_force_torque">
    <inertial>
      <mass value="0.001"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.00001" ixy="0" ixz="0" iyy="0.00001" iyz="0" izz="0.00001"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
  </link>
  <joint name="l_hand_force_torque_joint" type="fixed">
    <origin rpy="-1.57079632679 0 1.57079632679" xyz="0 0 0"/>
    <parent link="LeftPalm"/>
    <child link="l_hand_force_torque"/>
  </joint>
  <link name="left_palm">
    <inertial>
      <mass value="0.001"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.00001" ixy="0" ixz="0" iyy="0.00001" iyz="0" izz="0.00001"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
  </link>
  <joint name="left_valkyrie_hand_joint" type="fixed">
    <origin rpy="1.57079632679 1.57079632679 0" xyz="0.08 0 0"/>
    <parent link="l_hand_force_torque"/>
    <child link="left_palm"/>
  </joint>
  <link name="l_hand_face">
    <inertial>
      <mass value="0.001"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.00001" ixy="0" ixz="0" iyy="0.00001" iyz="0" izz="0.00001"/>
    </inertial>
  </link>
  <joint name="l_hand_face_joint" type="fixed">
    <origin rpy="3.14159265359 0 1.57079632679" xyz="0.08 0.0 -0.04"/>
    <parent link="l_hand_force_torque"/>
    <child link="l_hand_face"/>
  </joint>
  <!-- end mfallon extra stuff left hand-->
  <!-- mfallon extra stuff right hand-->
  <link name="r_hand_force_torque">
    <inertial>
      <mass value="0.001"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.00001" ixy="0" ixz="0" iyy="0.00001" iyz="0" izz="0.00001"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
  </link>
  <joint name="r_hand_force_torque_joint" type="fixed">
    <origin rpy="-1.57079632679 0 -1.57079632679" xyz="0 0 0"/>
    <parent link="RightPalm"/>
    <child link="r_hand_force_torque"/>
  </joint>
  <link name="right_palm">
    <inertial>
      <mass value="0.001"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.00001" ixy="0" ixz="0" iyy="0.00001" iyz="0" izz="0.00001"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
  </link>
  <joint name="right_valkyrie_hand_joint" type="fixed">
    <origin rpy="0 -1.57079632679 -1.57079632679" xyz="0.08 0 0"/>
    <parent link="r_hand_force_torque"/>
    <child link="right_palm"/>
  </joint>
  <link name="r_hand_face">
    <inertial>
      <mass value="0.001"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.00001" ixy="0" ixz="0" iyy="0.00001" iyz="0" izz="0.00001"/>
    </inertial>
  </link>
  <joint name="r_hand_face_joint" type="fixed">
    <origin rpy="0 0 -1.57079632679" xyz="0.08 0 0.04"/>
    <parent link="r_hand_force_torque"/>
    <child link="r_hand_face"/>
  </joint>
  <!-- end mfallon extra stuff right hand-->
</robot>
