<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       name="humanoid" >
  
  <!-- Commenting out urdf with meshes, using simple collision shapes instead -->
  <!--<include filename="$(find sandia_hand_description)/urdf/sandia_hand.urdf.xacro" />-->
  <include filename="$(find sandia_hand_description)/urdf/sandia_hand_simple_shapes.urdf.xacro" />

  <link name="base">
    <inertial>
        <mass value="0.1" />
        <origin xyz="0 0 0.25" rpy="0 0 0" />
        <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
    </inertial>
    <visual>
        <origin xyz="0 0 0.25" rpy="0 0 0" />
        <geometry>
            <box size="0.5 0.5 0.5" />
        </geometry>
    </visual>
    <collision>
        <origin xyz="0 0 0.25" rpy="0 0 0" />
        <geometry>
            <box size="0.5 0.5 0.5" />
        </geometry>
    </collision>
  </link>
  <xacro:sandia_hand side="right" parent="base" reflect="1" joint_type="revolute" thumb_angle="0">
    <origin xyz="0 0 0.5" rpy="0 -1.57079 0"/>
  </xacro:sandia_hand>
</robot>
