<robot xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface" name="atlas" >
  
  <xacro:include filename="$(find handle_description)/src/irobot_hand_simple.urdf.xacro" />

  <xacro:irobot_hand side="left" parent="l_hand" reflect="-1">
    <origin rpy="1.57079 3.14159 3.14159" xyz="0 0.11516 0.015"/>
  </xacro:irobot_hand>



</robot>
