<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:trans="http://www.mit.edu" xmlns:xs="http://www.w3.org/2001/XMLSchema"
       xmlns:mat="http://www.mit.edu"
       name="polaris_ranger_ev">
      <link name="chassis">
      
      <collision name="chassis_bottom">
         <origin xyz="0.1 0 0.37" rpy="0 -0 0"/>
         <geometry>
            <box size="1.5 1.34 0.06"/>
         </geometry>
      </collision>
      <visual name="chassis_bottom">
         <origin xyz="0.1 0 0.37" rpy="0 -0 0"/>
         <geometry>
            <box size="1.5 1.34 0.06"/>
         </geometry>
      </visual>
      <collision name="cargo_bottom">
         <origin xyz="-0.9 0 0.9" rpy="0 -0 0"/>
         <geometry>
            <box size="0.9 1.2 0.01"/>
         </geometry>
      </collision>
      <visual name="cargo_bottom">
         <origin xyz="-0.9 0 0.9" rpy="0 -0 0"/>
         <geometry>
            <box size="0.9 1.2 0.01"/>
         </geometry>
      </visual>
      <collision name="cargo_front">
         <origin xyz="-0.45 0 1.025" rpy="0 -0 0"/>
         <geometry>
            <box size="0.05 1.2 0.25"/>
         </geometry>
      </collision>
      <visual name="cargo_front">
         <origin xyz="-0.45 0 1.025" rpy="0 -0 0"/>
         <geometry>
            <box size="0.05 1.2 0.25"/>
         </geometry>
      </visual>
      <collision name="cargo_back">
         <origin xyz="-1.35 0 1.025" rpy="0 -0 0"/>
         <geometry>
            <box size="0.05 1.2 0.25"/>
         </geometry>
      </collision>
      <visual name="cargo_back">
         <origin xyz="-1.35 0 1.025" rpy="0 -0 0"/>
         <geometry>
            <box size="0.05 1.2 0.25"/>
         </geometry>
      </visual>
      <collision name="cargo_left">
         <origin xyz="-0.9 0.6 1.025" rpy="0 -0 0"/>
         <geometry>
            <box size="0.9 0.05 0.25"/>
         </geometry>
      </collision>
      <visual name="cargo_left">
         <origin xyz="-0.9 0.6 1.025" rpy="0 -0 0"/>
         <geometry>
            <box size="0.9 0.05 0.25"/>
         </geometry>
      </visual>
      <collision name="cargo_right">
         <origin xyz="-0.9 -0.6 1.025" rpy="0 -0 0"/>
         <geometry>
            <box size="0.9 0.05 0.25"/>
         </geometry>
      </collision>
      <visual name="cargo_right">
         <origin xyz="-0.9 -0.6 1.025" rpy="0 -0 0"/>
         <geometry>
            <box size="0.9 0.05 0.25"/>
         </geometry>
      </visual>
      <collision name="seat">
         <origin xyz="-0.1 0 0.56" rpy="0 -0 0"/>
         <geometry>
            <box size="0.6 1.22 0.50"/>
         </geometry>
      </collision>
      <visual name="seat">
         <origin xyz="-0.1 0 0.56" rpy="0 -0 0"/>
         <geometry>
            <box size="0.6 1.22 0.50"/>
         </geometry>
      </visual>
      <collision name="mud_seat">
         <origin xyz="-0.1 0 0.81" rpy="0 -0 0"/>
         <geometry>
            <box size="0.6 1.15 0.1"/>
         </geometry>
      </collision>
      <visual name="mud_seat">
         <origin xyz="-0.1 0 0.81" rpy="0 -0 0"/>
         <geometry>
            <box size="0.6 1.15 0.1"/>
         </geometry>
      </visual>
      <collision name="seat_back">
         <origin xyz="-0.3 0 1.125" rpy="0 -0.19999999999999998 0"/>
         <geometry>
            <box size="0.06 1.0 0.4"/>
         </geometry>
      </collision>
      <visual name="seat_back">
         <origin xyz="-0.3 0 1.125" rpy="0 -0.19999999999999998 0"/>
         <geometry>
            <box size="0.06 1.0 0.4"/>
         </geometry>
      </visual>
      <collision name="engine">
         <origin xyz="1.05 0 0.7" rpy="0 -0 0"/>
         <geometry>
            <box size="0.58 1.0 0.8"/>
         </geometry>
      </collision>
      <visual name="engine">
         <origin xyz="1.05 0 0.7" rpy="0 -0 0"/>
         <geometry>
            <box size="0.58 1.0 0.8"/>
         </geometry>
      </visual>
      <collision name="handle_left_middle">
         <origin xyz="-0.3 0.61 1.055" rpy="0 -0.19999999999999998 0"/>
         <geometry>
            <cylinder radius="0.02" length="0.17"/>
         </geometry>
      </collision>
      <visual name="handle_left_middle">
         <origin xyz="-0.3 0.61 1.055" rpy="0 -0.19999999999999998 0"/>
         <geometry>
            <cylinder radius="0.02" length="0.17"/>
         </geometry>
      </visual>
      <collision name="handle_right_middle">
         <origin xyz="-0.3 -0.61 1.055" rpy="0 -0.19999999999999998 0"/>
         <geometry>
            <cylinder radius="0.02" length="0.17"/>
         </geometry>
      </collision>
      <visual name="handle_right_middle">
         <origin xyz="-0.3 -0.61 1.055" rpy="0 -0.19999999999999998 0"/>
         <geometry>
            <cylinder radius="0.02" length="0.17"/>
         </geometry>
      </visual>
   </link>
      <!--plugin name="seat_mud" filename="libMudPlugin.so">
      <contact_sensor_name>chassis/seat_contact</contact_sensor_name>
      <stiffness>0.0</stiffness>
      <damping>100.0</damping>
      <link_name>atlas::pelvis</link_name>
    </plugin-->
      <!-- gas/brake pedals, steering wheel and hand brake -->
    <link name="gas_pedal">
      
      <collision name="gas_pedal_collision">
         <origin xyz="-0.0385 0 -0.086"
                 rpy="3.141592653589793 1.1255926535897933 3.141592653589793"/>
         <geometry>
            <box size="0.1069000 0.0770000 0.010000"/>
         </geometry>
      </collision>
      <visual name="gas_pedal_collision">
         <origin xyz="-0.0385 0 -0.086"
                 rpy="3.141592653589793 1.1255926535897933 3.141592653589793"/>
         <geometry>
            <box size="0.1069000 0.0770000 0.010000"/>
         </geometry>
      </visual>
   </link>
   <joint type="fixed" name="gas_joint">
      <origin xyz="0.63 0.1 0.58" rpy="0 -0 0"/>
      <axis xyz="1 0 -1"/>
      <limit effort="1" velocity="1" lower="0.00" upper="0.08"/>
      <parent link="chassis" type="link"/>
      <child link="gas_pedal" type="link"/>
            
         </joint>

      <link name="brake_pedal">
      
      <collision name="brake_pedal_collision">
         <origin xyz="-0.04 0 -0.086"
                 rpy="3.141592653589793 1.142592653589793 3.141592653589793"/>
         <geometry>
            <box size="0.063 0.08 0.01"/>
         </geometry>
      </collision>
      <visual name="brake_pedal_collision">
         <origin xyz="-0.04 0 -0.086"
                 rpy="3.141592653589793 1.142592653589793 3.141592653589793"/>
         <geometry>
            <box size="0.063 0.08 0.01"/>
         </geometry>
      </visual>
   </link>
   <joint type="fixed" name="brake_joint">
      <origin xyz="0.64 0.27 0.58" rpy="0 -0 0"/>
      <axis xyz="1 0 -0.6"/>
      <limit effort="1" velocity="1" lower="0.00" upper="0.08"/>
      <parent link="chassis" type="link"/>
      <child link="brake_pedal" type="link"/>
            
         </joint>

      <link name="steering_wheel">
      
   </link>
   <joint type="fixed" name="steering_joint">
      <origin xyz="0.34 0.3 1.29" rpy="0 -0.87 0"/>
      <axis xyz="-4.395184338701341E-7 0 1.3083368536045321"/>
      <limit effort="1" velocity="1" lower="-3.14" upper="3.14"/>
      <parent link="chassis" type="link"/>
      <child link="steering_wheel" type="link"/>
   </joint>

      <link name="hand_brake">
      
      <collision name="hand_brake_collision">
         <origin xyz="0 0 -0.1" rpy="0 -0 0"/>
         <geometry>
            <cylinder radius="0.01" length="0.2"/>
         </geometry>
      </collision>
      <visual name="hand_brake_collision">
         <origin xyz="0 0 -0.1" rpy="0 -0 0"/>
         <geometry>
            <cylinder radius="0.01" length="0.2"/>
         </geometry>
      </visual>
   </link>
   <joint type="fixed" name="hand_brake_joint">
      <origin xyz="0.5 0 1.05" rpy="3.141592653589793 -0.05840734641020694 3.141592653589793"/>
      <axis xyz="0 -1 -0"/>
      <limit effort="1" velocity="1" lower="0" upper="0.6"/>
      <parent link="chassis" type="link"/>
      <child link="hand_brake" type="link"/>
            
        </joint>

      <link name="FNR_switch">
      
      <collision name="FNR_switch">
         <origin xyz="0 0 0" rpy="0 -0 0"/>
         <geometry>
            <box size="0.02 0.04 0.08"/>
         </geometry>
      </collision>
      <visual name="FNR_switch">
         <origin xyz="0 0 0" rpy="0 -0 0"/>
         <geometry>
            <box size="0.02 0.04 0.08"/>
         </geometry>
      </visual>
   </link>
   <joint type="fixed" name="FNR_switch_joint">
      <origin xyz="0.56 0.05 1.08" rpy="0 0.25 0"/>
      <axis xyz="0 -1 0"/>
      <limit effort="1" velocity="1" lower="-0.3" upper="0.3"/>
      <parent link="chassis" type="link"/>
      <child link="FNR_switch" type="link"/>
            
        </joint>

      
      

      

      


      

      

      
      
      
      
      

  </robot>