<?xml version="1.0"?>
<!--
    A simple visualization of the Atlas's kinematic structure as cylinders
-->
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">


    <xacro:macro name="foot_bumpers" params="name">
	<gazebo reference="${name}_link">
	<selfCollide>false</selfCollide>
    	<sensor:contact name="${name}_contact_sensor">
        <geom>${name}_link_geom</geom> 
        <updateRate>100.0</updateRate>
       	<controller:gazebo_ros_bumper name="${name}_gazebo_ros_bumper_controller" plugin="libgazebo_ros_bumper.so">
       		<alwaysOn>true</alwaysOn>
       		<updateRate>100.0</updateRate>
       		<bumperTopicName>${name}_bumper</bumperTopicName>
       		<interface:bumper name="${name}_bumper_iface" />
       	</controller:gazebo_ros_bumper>
   	</sensor:contact>
	</gazebo>
	</xacro:macro>


	<xacro:foot_bumpers name="LFootToeIn"/>
	<xacro:foot_bumpers name="LFootToeOut"/>
	<xacro:foot_bumpers name="LFootHeelIn"/>
	<xacro:foot_bumpers name="LFootHeelOut"/>
	<xacro:foot_bumpers name="RFootToeIn"/>
	<xacro:foot_bumpers name="RFootToeOut"/>
	<xacro:foot_bumpers name="RFootHeelIn"/>
	<xacro:foot_bumpers name="RFootHeelOut"/>


   <gazebo>
    <controller:joint_actuation_plugin name="joint_torque_controller" plugin="libjoint_actuation_plugin_pre_fuerte.so">
       <alwaysOn>true</alwaysOn>
       <topicName>actuator_cmd</topicName>
       <interface:position name="position_iface_1"/>
    </controller:joint_actuation_plugin>

      <controller:gazebo_ros_pub_robot_state name="gazebo_ros_pub_robot_controller" plugin="libgazebo_ros_pub_robot_state_pre_fuerte.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>100.0</updateRate>
        <topicName>true_robot_state</topicName>
      </controller:gazebo_ros_pub_robot_state>
   </gazebo> 

</robot>
