coordinate_frames {

  ################## Sensor Frames ###################################
  CAMERA_LEFT {
    # this cannot change - its rigid
    relative_to = "head";
    history = 5000;
    update_channel = "HEAD_TO_LEFT_CAMERA_OPTICAL_FRAME";
    initial_transform{
      # location of left camera:
      # i dont think .....78242 is taken care of the URDF transforms...
      translation = [ 0.0, 0.0350465783941255, -0.002];
      rpy = [ -90.0, 0.0, -90.0];      
    }
  }  
  
  CAMERA_RIGHT {
    relative_to = "CAMERA_LEFT";
    history = 5000;
    # Fixed, read from CRL camera
    update_channel = "CAMERA_LEFT_TO_CAMERA_RIGHT"; 
    initial_transform{
      # antone: updated on 2014-03-28 for upgraded multisense unit 02
      translation = [ 0.0700931567882511, 0.0, 0.0];
      rpy = [ 0.0, 0.0, 0.0];
    }
  }

  ################## Path from Camera to Laser: ####################################
  PRE_SPINDLE {
    relative_to = "CAMERA_LEFT";
    history = 5000;
    update_channel = "CAMERA_LEFT_TO_PRE_SPINDLE";
    initial_transform{
      # rigid, read from sensor by mfallon, aug 2013
      #translation = [ 0.034024, -0.107727, 0.008747 ];
      #quat = [ 0.714312, -0.000002, 0.000000, 0.699827 ];
      
      # mfallon diy monday 26aug 2013: (was used for 4 weeks)
      #translation = [ 0.0350, -0.0777, -0.0133];
      #rpy = [-0.3002, -1.8998, 89.6263];
      
      # mfallon diy monday 25sept 2013:
      #translation = [ 0.035, -0.0907, -0.0083];
      #rpy = [0.2998, -1.3998, 88.5263];

      # antone 2014-04-16: calibrated values (using box target)
      #translation = [ 0.040491174136997, -0.088590620979329, -0.008257925082622 ];
      #quat = [ 0.999980630927297, -0.004178902281161, -0.002642011446630, -0.003780783184091 ];
      translation = [ 0.037817599268810, -0.091862694985753, -0.008823379197658 ];
      quat = [ 0.999975831203572, -0.004529225787262, -0.002281254582063, -0.004755943652497 ];    }
  }    
  
  POST_SPINDLE {
    relative_to = "PRE_SPINDLE";
    history = 5000;
    update_channel = "PRE_SPINDLE_TO_POST_SPINDLE";
    initial_transform{
      # pure rotation transform
      translation = [ 0.0, 0.0, 0.0 ];
      quat = [ 1,0,0,0 ];
    }
  }      
  
  
  SCAN {
    relative_to = "POST_SPINDLE";
    history = 5000;
    update_channel = "POST_SPINDLE_TO_SCAN";
    initial_transform{
      # antone 2014-04-16: calibrated values (using box target)
      #translation = [ 0.000107527216753, 0.022904796513351, -0.000023780468189 ];
      #quat = [ 0.493475216529243, -0.494045363414436, -0.506454865312147, -0.505870397396180 ];      
      translation = [ -0.000160855024446, 0.024008705700733, -0.000009006827089 ];
      quat = [ 0.493761463695879, -0.493865325840199, -0.506164205850439, -0.506057757195215 ];    }
  }   
  

  SCAN_FREE {
    relative_to = "SCAN";
    history = 5000;
    update_channel = "SCAN_TO_SCAN_FREE";
    initial_transform{
      translation = [0,0,0];
      quat = [ 1,0,0, 0];
    }
  }  

}


cameras {
  # fx fy skew cx cy 
  CAMERA_LEFT {
    lcm_channel = "CAMERA_LEFT";
    coord_frame = "CAMERA_LEFT";
    intrinsic_cal{
      width = 1024;
      height= 1024;
      distortion_model = "plumb-bob";
      distortion_k = [0,0,0];
      distortion_p = [0,0];
      # antone: updated on 2014-03-28 for upgraded multisense unit 02
      pinhole = [ 591.909423828125, 591.909423828125, 0, 512, 512 ];
    }
  }
  
  CAMERA_RIGHT {
    lcm_channel = "CAMERA_RIGHT";
    coord_frame = "CAMERA_RIGHT";
    intrinsic_cal{
      width = 1024;
      height= 1024;
      distortion_model = "plumb-bob";
      distortion_k = [0,0,0];
      distortion_p = [0,0];
      # antone: updated on 2014-03-28 for upgraded multisense unit 02
      pinhole = [ 591.909423828125, 591.909423828125, 0, 512, 512 ];
    }
  }  

  CAMERA {
    lcm_channel = "CAMERA";
    type = "stereo";
    rotation = [1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0];
    translation = [-0.0700931567882511, 0.0, 0.0]; # taken from CRL's calibration
  }

  CAMERA_ANAGLYPH {
    lcm_channel = "CAMERA_ANAGLYPH";
    coord_frame = "CAMERA_ANAGLYPH";
    intrinsic_cal{
      width = 1024;
      height= 1024;
      distortion_model = "plumb-bob";
      distortion_k = [0,0,0];
      distortion_p = [0,0];
      # antone: updated on 2014-03-28 for upgraded multisense unit 02
      pinhole = [ 591.909423828125, 591.909423828125, 0, 512, 512 ];
    }
  }

}




planar_lidars {
  SCAN {
    viewer_color = [ 1.0, 0.0, 0.0 ]; # red
    max_range = 29.0;
    min_range = 0.1;
    frequency = 40;
    laser_type = "HOKUYO_UTM";
    coord_frame = "SCAN";
    lcm_channel = "SCAN";
    surround_region = [0, 1000000];        
    up_region = [-1,-1];
    down_region = [-1, -1];
    max_range_free_dist = 29.0;
  }
  SCAN_FREE {
    viewer_color = [ 0.0, 0.0, 1.0 ]; # blue
    max_range = 29.0;
    min_range = 0.1;
    frequency = 40;
    laser_type = "HOKUYO_UTM";
    coord_frame = "SCAN";
    lcm_channel = "SCAN_FREE";
    surround_region = [0, 1000000];        
    up_region = [-1,-1];
    down_region = [-1, -1];
    max_range_free_dist = 29.0;
  }

  # required for MAV-estimator:
  laser {
    viewer_color = [ 1.0, 0.0, 0.0 ]; # red
    max_range = 29.0;
    # typically 0.1. need this to be larger for the estimator
    min_range = 1.85;  # was 2 ... too long?
    frequency = 40;
    laser_type = "HOKUYO_UTM";
    coord_frame = "SCAN";
    lcm_channel = "SCAN";
    surround_region = [0, 1000000];        
    up_region = [-1,-1];
    down_region = [-1, -1];
    max_range_free_dist = 29.0;
  }

}
