<!-- Basic control with Annan device. -->
<launch>
  
  <node pkg="handle_ros" type="handle_ros" name="handle_ros" output="screen" respawn="true">  
    <param name="hand_name" value="192.168.33.22" type="string"/>
    <param name="hand_port" value="3490" type="string"/>
  </node>

  <node pkg="annan_control" type="annan_control" name="annan_control" output="screen" respawn="false"/>

</launch>
