<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="v1/hokuyo">

  <!-- 
  HOKUYO
    Specs from:
    http://bender.jsc.nasa.gov/confluence/download/attachments/13074784/UTM-30LX-EW_Specification.pdf?version=1&modificationDate=1354299754000&api=v2 
  -->
  <xacro:property name="HokuyoWidth" value="0.063"/>
  <xacro:property name="HokuyoDepth" value="0.087"/>
  <xacro:property name="HokuyoHeight" value="0.063"/>

  <xacro:property name="HokuyoMass" value="0.210"/>

  <xacro:property name="HokuyoMinRange" value="0.1"/>
  <xacro:property name="HokuyoMaxRange" value="30"/>
  <!-- <xacro:property name="HokuyoScanAngle" value="${270 * DEG2RAD}"/> -->
  <xacro:property name="HokuyoScanAngle" value="4.71"/>
  <!-- <xacro:property name="HokuyoAngularResolution" value="${0.25 * DEG2RAD}"/> -->
  <xacro:property name="HokuyoAngularResolution" value="0.0043611"/>
  <xacro:property name="HokuyoScanRate" value="${1/0.025}"/>
  <!-- Using worse case (10-30m) standard deviation -->
  <xacro:property name="HokuyoMeasurementResolution" value="0.03"/>

  <xacro:macro name="hokuyo_sensor" params="sensorName parentLink origin_xyz origin_rpy">
    <xacro:virtual_link name="${sensorName}_Frame"
                    origin_rpy="0 0 0" 
                    origin_xyz="0 0 0"/>

    <gazebo reference="${sensorName}_Frame">
      <sensor name="${sensorName}" type="ray">
        <pose>0 0 0 0 0 0</pose>
        <visualize>false</visualize>
        <update_rate>${HokuyoScanRate}</update_rate>
        <ray>
          <scan>
            <horizontal>
              <samples>1080</samples>
              <resolution>${HokuyoAngularResolution}</resolution>
              <min_angle>${-0.5 * HokuyoScanAngle}</min_angle>
              <max_angle>${0.5 * HokuyoScanAngle}</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>${HokuyoMinRange}</min>
            <max>${HokuyoMaxRange}</max>
            <resolution>${HokuyoMeasurementResolution}</resolution>
          </range>
          <!-- Noise data from DRCSIM -->
          <noise>
            <type>gaussian</type>
            <!-- Noise parameters based on published spec for Hokuyo laser
               achieving "+-30mm" accuracy at range < 10m.  A mean of 0.0m and
               stddev of 0.01m will put 99.7% of samples within 0.03m of the true
               reading. -->
            <mean>0.0</mean>
            <stddev>0.01</stddev>
          </noise>
        </ray>
        <plugin filename="libgazebo_ros_laser.so" name="${sensorName}_Controller">
          <gaussianNoise>0.005</gaussianNoise>
          <alwaysOn>true</alwaysOn>
          <updateRate>${HokuyoScanRate}</updateRate>
          <topicName>${sensorName}/scan</topicName>
          <frameName>${sensorName}_Frame</frameName>
        </plugin>
      </sensor>
    </gazebo>

    <xacro:fixed_joint jointName="${sensorName}_Offset"
                       parent="${parentLink}" child="${sensorName}_Frame"
                       origin_rpy="${origin_rpy}"
                       origin_xyz="${origin_xyz}"/>
  </xacro:macro>
</robot>