<launch>
  <!-- send urdf of a simple box to param server -->
  <param name="box_0_param" textfile="$(find gazebo_worlds)/objects/simple_box.urdf" />
  <node name="spawn_box_0" pkg="gazebo" type="spawn_model" args="-urdf -param box_0_param -model box_0" respawn="false" output="screen" />
</launch>

