<launch>

  <!-- send urdf to param server -->
  <param name="coffee_cup" textfile="$(find gazebo_worlds)/objects/coffee_cup.model" />

  <!-- push urdf to factory and spawn robot in gazebo -->
  <node name="spawn_coffee_cup" pkg="gazebo" type="spawn_model" args="-gazebo -param coffee_cup -x 1 -y -0.22 -z .57  -R 0 -P 0 -Y 0 -model coffee_cup" respawn="false" output="screen" />

</launch>

