<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       name="atlas" >
  
<!--  <include filename="$(find mit_drcsim_scripts)/models/mit_robot_PnC/xacro/atlas_statue.urdf" /> -->
  <include filename="$(find mit_drcsim_scripts)/models/mit_robot_PnC/xacro/atlas_statue_minimal_contact.urdf" />
  
  <gazebo>
    <!-- robot model offset -->
    <pose>0 0 0.93 0 0 0</pose>
  </gazebo>

  <gazebo>
    <plugin name="gazebo_ros_pub_robot_controller" filename="libgazebo_ros_pub_robot_state.so">
      <alwaysOn>true</alwaysOn>
      <updateRate>100.0</updateRate>
      <topicName>true_robot_state</topicName>
      <synchronization>false</synchronization>
    </plugin>
  </gazebo>

  <!-- imu -->
  <link name="imu_link">
    <inertial>
      <mass value="0.1"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </collision>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
  </link>
  <!-- use a zero limit revolute joint rather than fixed to prevent lumping -->
  <joint name="imu_joint" type="revolute">
    <parent link="pelvis"/>
    <child link="imu_link"/>
    <origin xyz="0.05991527603 0 -0.01415" rpy="0 0 0"/>
    <limit effort="0" lower="0" upper="0" velocity="0"/>
    <safety_controller k_position="0" k_velocity="0" soft_lower_limit="0" soft_upper_limit="0"/>
    <axis xyz="0 0 1"/>
  </joint>
  <gazebo>
    <plugin filename="libgazebo_ros_imu.so" name="atlas_imu">
      <alwaysOn>true</alwaysOn>
      <updateRate>100.0</updateRate>
      <bodyName>imu_link</bodyName>
      <topicName>imu</topicName>
      <gaussianNoise>0.0</gaussianNoise>
      <xyzOffsets>0 0 0</xyzOffsets>
      <rpyOffsets>0 0 0</rpyOffsets>
    </plugin>
  </gazebo>
  <gazebo reference="r_foot">
    <mu1>10.0</mu1>
    <mu2>10.0</mu2>
    <fdir1>1 0 0</fdir1>
    <maxVel>0.0</maxVel>
    <minDepth>0.001</minDepth>
  </gazebo>
  <gazebo reference="l_foot">
    <mu1>10.0</mu1>
    <mu2>10.0</mu2>
    <fdir1>1 0 0</fdir1>
    <maxVel>0.0</maxVel>
    <minDepth>0.001</minDepth>
  </gazebo>
  

  
</robot>
