<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       name="mit_drc_robot" >
  
<include filename="$(find mit_drcsim_scripts)/models/mit_robot_PnC/xacro/drc_skeleton.urdf" /> -->
  <include filename="$(find mit_drcsim_scripts)/models/mit_robot_PnC/xacro/drc_skeleton_minimal_contact_gazebo.urdf" />
  <include filename="$(find sandia_hand_utils)/urdf/sandia_hand.urdf.xacro" />

  <xacro:sandia_hand side="r" parent="r_hand">
    <origin xyz="0 -0.1 -0.03" rpy="0 3.1416  1.57079"/>
  </xacro:sandia_hand>
  <xacro:sandia_hand side="l" parent="l_hand">
    <origin xyz="0  0.1 -0.03" rpy="0 3.1416 -1.57079"/>
  </xacro:sandia_hand>

<!--  <include filename="$(find drc_robot_utils)/urdf/drc_robot.gazebo" /> -->
  <include filename="$(find drc_robot_utils)/urdf/drc_robot.transmission" />
  <include filename="$(find drc_robot_utils)/urdf/drc_robot.sensors" />
  <include filename="$(find mit_drcsim_scripts)/models/mit_robot_PnC/xacro/mit_drc_robot.gazebo" />
</robot>
