<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="v1/primary_finger/joint_limits">
  <!-- 
    Reference for kinematic and dynamic parameters comes from:

      http://bender.jsc.nasa.gov/confluence/pages/viewpage.action?pageId=16417593
  -->
  <xacro:property name="PFJ1_Torque_Limit" value="10" />
  <xacro:property name="PFJ2_Torque_Limit" value="10" />
  <xacro:property name="PFJ3_Torque_Limit" value="10" />
  <xacro:property name="PFJ4_Torque_Limit" value="10" />
  
  <xacro:property name="PFJ1_Lower_Limit" value="${-5 * DEG2RAD}" />
  <xacro:property name="PFJ2_Lower_Limit" value="${-95 * DEG2RAD}" />
  <xacro:property name="PFJ3_Lower_Limit" value="${-110 * DEG2RAD}" />
  <xacro:property name="PFJ4_Lower_Limit" value="${-90 * DEG2RAD}" />
  
  <xacro:property name="PFJ1_Upper_Limit" value="${5 * DEG2RAD}" />
  <xacro:property name="PFJ2_Upper_Limit" value="${10 * DEG2RAD}" />
  <xacro:property name="PFJ3_Upper_Limit" value="0" />
  <xacro:property name="PFJ4_Upper_Limit" value="${10 * DEG2RAD}" />
  
  <xacro:property name="PFJ1_Speed_Limit" value="1" />
  <xacro:property name="PFJ2_Speed_Limit" value="1" />
  <xacro:property name="PFJ3_Speed_Limit" value="1" />
  <xacro:property name="PFJ4_Speed_Limit" value="1" />
</robot>