<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="v1/primary_finger/dh_parameters">
  <!-- 
    Reference for kinematic and dynamic parameters comes from:

      http://bender.jsc.nasa.gov/confluence/pages/viewpage.action?pageId=16417593
  -->
  <!-- /v1/${prefix}Palm -->
  <xacro:property name="PFJ1_Proximal_Link" value="${primary_finger_root_link}" />
  <xacro:property name="PFJ1_Distal_Link" value="/v1/${prefix}PrimaryMetacarpal" />

  <xacro:property name="PFJ2_Proximal_Link" value="/v1/${prefix}PrimaryMetacarpal" />
  <xacro:property name="PFJ2_Distal_Link" value="/v1/${prefix}PrimaryProximalPhalanx" />

  <xacro:property name="PFJ3_Proximal_Link" value="/v1/${prefix}PrimaryProximalPhalanx" />
  <xacro:property name="PFJ3_Distal_Link" value="/v1/${prefix}PrimaryMedialPhalanx" />

  <xacro:property name="PFJ4_Proximal_Link" value="/v1/${prefix}PrimaryMedialPhalanx" />
  <xacro:property name="PFJ4_Distal_Link" value="/v1/${prefix}PrimaryDistalPhalanx" />
  
</robot>