coordinate_frames {
  root_frame = "local";

  # this is the pelvis link, its a legacy that its referred to as body
  body {
    relative_to = "local";
    history = 2000;
    max_frequency = 1000;
    pose_update_channel = "POSE_BODY";
    #update_channel = "HEAD_TO_BODY";  
    initial_transform{
      translation = [ 0, 0, 0 ];
      rpy = [0, 0, 0];
    }
  }


  KINECT_RGB {
    relative_to = "body";
    history = 2000;
    max_frequency = 100;
    update_channel = "WORLD_TO_KINECT_RGB";  
    initial_transform{
      translation=[  0.4005 , -1.128 , 0.39 ];
      rpy = [-90.0 , 0.0 , 0.0 ];
    }
  }  

}


cameras {
  # fx fy skew cx cy 
  KINECT_RGB {
    lcm_channel = "KINECT_RGB";
    coord_frame = "KINECT_RGB";
    intrinsic_cal{
      width = 640;
      height= 480;
      distortion_model = "plumb-bob";
      distortion_k = [0,0,0];
      distortion_p = [0,0];
      pinhole = [ 528.01442863461716, 528.01442863461716, 0, 321.06398107, 242.97676897 ];
    }
  }
}
