<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robotiq_hand">

<xacro:property name="pi" value="3.1416" />


<!-- ########################################### -->
<!-- Custom MIT XACRO For Robotiq Hand -->
<!-- ########################################### -->
<xacro:include filename="$(find robotiq_hand_description)/cfg/s-model_articulated_macro.xacro" />
<xacro:macro name="robotiq_hand" params="side parent reflect *origin">
<!-- joint to irobot hand -->
  <joint name="${side}_robotiq_hand_joint" type="fixed">
    <insert_block name="origin"/>
    <parent link="${parent}"/>
    <child link="${side}_palm"/>
  </joint>
  <xacro:s-model_articulated prefix="${side}_"/>
</xacro:macro>

</robot>
