<robot xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface" name="atlas" >
  
  <xacro:include filename="$(find mit_drcsim_scripts)/models/mit_robot/xacro/atlas_skeleton.urdf" />
  <xacro:include filename="$(find mit_drcsim_scripts)/models/mit_robot/xacro/atlas.transmission" />
  <xacro:include filename="$(find mit_drcsim_scripts)/models/multisense_sl/multisense_sl.urdf" />
  <xacro:include filename="$(find mit_drcsim_scripts)/models/mit_robot/xacro/hand_force_torque.urdf" />
  
  <xacro:include filename="$(find robotiq_hand_description)/cfg/robotiq_hand.urdf.xacro" />
  <xacro:robotiq_hand side="right" parent="r_hand_force_torque" reflect="1">
    <origin rpy="0 -1.57079 0" xyz="0 0.06566 0.0"/>
  </xacro:robotiq_hand>
  
</robot>
