<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       name="irobot_hand_right" >

<!--  <include filename="$(find handle_description)/src/irobot_hand_simple.urdf.xacro" />-->
  <xacro:include filename="$(find mit_drcsim_scripts)/models/mit_robot_hands/drake_urdfs/xacro/irobot_hand_simple_drake.urdf.xacro" />

  <link name="base">
    <inertial>
        <mass value="0.001"/>
        <origin xyz="0 0 0.25" rpy="0 0 0" />
        <inertia ixx="0.000001" ixy="0" ixz="0" iyy="0.000001" iyz="0" izz="0.000001"/>
    </inertial>
  </link>
  
  <xacro:irobot_hand side="right" parent="base" reflect="1">
 <!--  <origin rpy="0 0 0" xyz="0 -0.05 0"/>-->
    <origin rpy="1.57 0 -1.57" xyz="0 0 0"/>   
  </xacro:irobot_hand>  
</robot>
