<?xml version="1.0" ?>
<robot name="robotiq_camera" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="robotiq_camera" params="side_letter reflect parent *origin">
  <joint name="${side_letter}_hand_face_joint" type="fixed">
    <origin rpy="0.0 0.0 0.0" xyz="0 0.12 0"/>
    <parent link="${parent}"/>
    <child link="${side_letter}_hand_face"/>
  </joint>
  <link name="${side_letter}_hand_face"/>
  <joint name="${side_letter}_hand_gripper_joint" type="fixed">
    <origin rpy="0.0 0.0 0.0" xyz="0 0.18 0"/>
    <parent link="${parent}"/>
    <child link="${side_letter}_hand_gripper"/>
  </joint>
  <link name="${side_letter}_hand_gripper"/>
  <link name="${side_letter}_hand_camera_link"/>
  <joint name="${side_letter}_hand_camera_joint" type="fixed">
    <parent link="${parent}"/>
    <child link="${side_letter}_hand_camera_link"/>
    <!-- 9 degree inward angle-->
    <origin xyz="${-0.096*reflect}  0.06 0.0" rpy=" ${-reflect*1.57079} 0  ${1.5708-reflect*0.0}"/>
  </joint>
  <joint name="${side_letter}_hand_camera_optical_frame_joint" type="fixed">
    <origin rpy="-1.5708 0.0 -1.5708" xyz="0 0 0"/>
    <parent link="${side_letter}_hand_camera_link"/>
    <child link="${side_letter}_hand_camera_optical_frame"/>
  </joint>
  <link name="${side_letter}_hand_camera_optical_frame"/>
  <gazebo reference="${side_letter}_hand_camera_link">
    <sensor name="${side_letter}_hand_camera_sensor" type="camera">
      <update_rate>10.0</update_rate>
      <camera name="${side_letter}_hand_camera">
        <pose>0 0 0 0 0 0</pose>
        <!-- m.antone estimate of 2.8mm tamron lense fov -->
        <horizontal_fov>1.7281</horizontal_fov>
        <image>
          <width>1280</width>
          <height>1024</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>100</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <!-- Noise is sampled independently per pixel on each frame.  
               That pixel's noise value is added to each of its color
               channels, which at that point lie in the range [0,1].
               The stddev value of 0.007 is based on experimental data 
               from a camera in a Sandia hand pointed at a static scene
               in a couple of different lighting conditions.  -->
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      <plugin filename="libgazebo_ros_camera.so" name="${side_letter}_hand_camera_controller">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <cameraName>robotiq_hands/${side_letter}_hand_camera</cameraName>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>${side_letter}_hand_camera_optical_frame</frameName>
        <hackBaseline>0.07</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
      </plugin>
    </sensor>
  </gazebo>
  </xacro:macro>
</robot>
