<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="v1/thumb/dh_parameters">
  <!-- 
    Reference for kinematic and dynamic parameters comes from:

      http://bender.jsc.nasa.gov/confluence/pages/viewpage.action?pageId=16417593
  -->
  
  <!--     
    Joint_Offset (d): offset along previous z to the common normal
    Joint_Angle (theta): angle about previous z, from old x to new x
    Joint_Radius (a): length of the common normal. Assuming a revolute joint, this is the radius about previous z.
    Joint_Twist (alpha): angle about common normal, from old z axis to new z axis
  -->

  <!-- TJ1 -->
  <!-- DH Parameters -->
  <xacro:property name="TJ1_Joint_Offset" value="${reflect * ​0.005182}" />
  <xacro:property name="TJ1_Joint_Angle" value="-1.34390352" />
  <xacro:property name="TJ1_Joint_Radius" value="0.033268" />
  <xacro:property name="TJ1_Joint_Twist" value="${reflect * pi_2}" />

  <!-- Derived -->
  <xacro:property name="TJ1_Origin_X" value="0.00748367180673"/>
  <xacro:property name="TJ1_Origin_Y" value="-0.0324153432851"/>
  <xacro:property name="TJ1_Origin_Z" value="${reflect * 0.005182}"/>

  <xacro:property name="TJ1_Orientation_Roll" value="${reflect * pi_2}"/>
  <xacro:property name="TJ1_Orientation_Pitch" value="0"/>
  <xacro:property name="TJ1_Orientation_Yaw" value="-1.34390352"/>

  <!-- TJ2 -->
  <!-- DH Parameters -->
  <xacro:property name="TJ2_Joint_Offset" value="${reflect * -0.025091}" />
  <xacro:property name="TJ2_Joint_Angle" value="0" />
  <xacro:property name="TJ2_Joint_Radius" value="0.02286" />
  <xacro:property name="TJ2_Joint_Twist" value="${reflect * pi_2}" />

  <!-- Derived -->
  <xacro:property name="TJ2_Origin_X" value="0.02286"/>
  <xacro:property name="TJ2_Origin_Y" value="0"/>
  <xacro:property name="TJ2_Origin_Z" value="${reflect * -0.025091}"/>

  <xacro:property name="TJ2_Orientation_Roll" value="${reflect * pi_2}"/>
  <xacro:property name="TJ2_Orientation_Pitch" value="0"/>
  <xacro:property name="TJ2_Orientation_Yaw" value="0"/>

  <!-- TJ3 -->
  <!-- DH Parameters -->
  <xacro:property name="TJ3_Joint_Offset" value="0" />
  <xacro:property name="TJ3_Joint_Angle" value="0" />
  <xacro:property name="TJ3_Joint_Radius" value="0.0381" />
  <xacro:property name="TJ3_Joint_Twist" value="0" />

  <!-- Derived -->
  <xacro:property name="TJ3_Origin_X" value="0.0381"/>
  <xacro:property name="TJ3_Origin_Y" value="0"/>
  <xacro:property name="TJ3_Origin_Z" value="0"/>

  <xacro:property name="TJ3_Orientation_Roll" value="0"/>
  <xacro:property name="TJ3_Orientation_Pitch" value="0"/>
  <xacro:property name="TJ3_Orientation_Yaw" value="0"/>

  <!-- TJ4 -->
  <!-- DH Parameters -->
  <xacro:property name="TJ4_Joint_Offset" value="0" />
  <xacro:property name="TJ4_Joint_Angle" value="0" />
  <xacro:property name="TJ4_Joint_Radius" value="0.02794" />
  <xacro:property name="TJ4_Joint_Twist" value="0" />

  <!-- Derived -->
  <xacro:property name="TJ4_Origin_X" value="0.02794"/>
  <xacro:property name="TJ4_Origin_Y" value="0"/>
  <xacro:property name="TJ4_Origin_Z" value="0"/>

  <xacro:property name="TJ4_Orientation_Roll" value="0"/>
  <xacro:property name="TJ4_Orientation_Pitch" value="0"/>
  <xacro:property name="TJ4_Orientation_Yaw" value="0"/>

</robot>