<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="v1/thumb/joint_limits">
  <!-- 
    Reference for kinematic and dynamic parameters comes from:

      http://bender.jsc.nasa.gov/confluence/pages/viewpage.action?pageId=16417593
  -->
  <xacro:property name="TJ1_Torque_Limit" value="10" />
  <xacro:property name="TJ2_Torque_Limit" value="10" />
  <xacro:property name="TJ3_Torque_Limit" value="10" />
  <xacro:property name="TJ4_Torque_Limit" value="10" />
  
  <xacro:property name="TJ1_Lower_Limit" value="${-5 * DEG2RAD}" />
  <xacro:property name="TJ2_Lower_Limit" value="${-95 * DEG2RAD}" />
  <xacro:property name="TJ3_Lower_Limit" value="${-110 * DEG2RAD}" />
  <xacro:property name="TJ4_Lower_Limit" value="${-90 * DEG2RAD}" />
  
  <xacro:property name="TJ1_Upper_Limit" value="${135 * DEG2RAD}" />
  <xacro:property name="TJ2_Upper_Limit" value="${10 * DEG2RAD}" />
  <xacro:property name="TJ3_Upper_Limit" value="0" />
  <xacro:property name="TJ4_Upper_Limit" value="${10 * DEG2RAD}" />
  
  <xacro:property name="TJ1_Speed_Limit" value="1" />
  <xacro:property name="TJ2_Speed_Limit" value="1" />
  <xacro:property name="TJ3_Speed_Limit" value="1" />
  <xacro:property name="TJ4_Speed_Limit" value="1" />
</robot>