<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="v1/thumb">
  <!--
        Reference for kinematic and dynamic parameters comes from:

            http://bender.jsc.nasa.gov/confluence/pages/viewpage.action?pageId=16417593
  -->
  <xacro:include filename="$(find V1)/models/V1/xacro/thumb/joint_names.xacro"/>
  <xacro:include filename="$(find V1)/models/V1/xacro/thumb/actuator_names.xacro"/>
  <xacro:include filename="$(find V1)/models/V1/xacro/thumb/link_names.xacro"/>
  <xacro:include filename="$(find V1)/models/V1/xacro/thumb/joint_limits.xacro"/>
  <xacro:include filename="$(find V1)/models/V1/xacro/thumb/dh_parameters.xacro"/>
  <xacro:include filename="$(find V1)/models/V1/xacro/thumb/mass_parameters.xacro"/>

  <!-- Link properties. -->
  <xacro:property name="TJ1_Link_Width" value="0.010"/>
  <xacro:property name="TJ1_Link_Height" value="0.010"/>
  <xacro:property name="TJ1_Link_Length" value="0.010"/>

  <xacro:property name="TJ1_Link_Origin_X" value="0"/>
  <xacro:property name="TJ1_Link_Origin_Y" value="0"/>
  <xacro:property name="TJ1_Link_Origin_Z" value="0"/>


  <xacro:property name="TJ2_Link_Width" value="0.054"/>
  <xacro:property name="TJ2_Link_Height" value="0.019"/>
  <xacro:property name="TJ2_Link_Length" value="0.026"/>

  <xacro:property name="TJ2_Link_Origin_X" value="0.017"/>
  <xacro:property name="TJ2_Link_Origin_Y" value="0"/>
  <xacro:property name="TJ2_Link_Origin_Z" value="0"/>


  <xacro:property name="TJ3_Link_Width" value="0.034"/>
  <xacro:property name="TJ3_Link_Height" value="0.013"/>
  <xacro:property name="TJ3_Link_Length" value="0.022"/>

  <xacro:property name="TJ3_Link_Origin_X" value="0.011"/>
  <xacro:property name="TJ3_Link_Origin_Y" value="0"/>
  <xacro:property name="TJ3_Link_Origin_Z" value="0"/>


  <xacro:property name="TJ4_Link_Width" value="0.027"/>
  <xacro:property name="TJ4_Link_Height" value="0.012"/>
  <xacro:property name="TJ4_Link_Length" value="0.019"/>

  <xacro:property name="TJ4_Link_Origin_X" value="0.0086"/>
  <xacro:property name="TJ4_Link_Origin_Y" value="0"/>
  <xacro:property name="TJ4_Link_Origin_Z" value="0"/>

  <xacro:macro name="make_thumb" params="prefix reflect thumb_root_link">
    <!-- LINKS -->
    <xacro:box_link name="${TJ1_Distal_Link}"
                    width="${TJ1_Link_Width}" height="${TJ1_Link_Height}" depth="${TJ1_Link_Length}" mass="${TJ1_Link_Mass}"
                    origin_rpy="0 0 0"
                    origin_xyz="${TJ1_Link_Origin_X} ${TJ1_Link_Origin_Y} ${TJ1_Link_Origin_Z}"
                    visual_mesh="${mesh_root}/tf1_${prefix}.stl"
                    material="Gold"
                    collision_mesh="${mesh_root}/tf1_${prefix}.stl"/>

    <xacro:box_link name="${TJ2_Distal_Link}"
                    width="${TJ2_Link_Width}" height="${TJ2_Link_Height}" depth="${TJ2_Link_Length}" mass="${TJ2_Link_Mass}"
                    origin_rpy="0 0 0"
                    origin_xyz="${TJ2_Link_Origin_X} ${TJ2_Link_Origin_Y} ${TJ2_Link_Origin_Z}"
                    visual_mesh="${mesh_root}/tf2.stl"
                    material="Gold"
                    collision_mesh="${mesh_root}/tf2.stl"/>

    <xacro:box_link name="${TJ3_Distal_Link}"
                    width="${TJ3_Link_Width}" height="${TJ3_Link_Height}" depth="${TJ3_Link_Length}" mass="${TJ3_Link_Mass}"
                    origin_rpy="0 0 0"
                    origin_xyz="${TJ3_Link_Origin_X} ${TJ3_Link_Origin_Y} ${TJ3_Link_Origin_Z}"
                    visual_mesh="${mesh_root}/tf3.stl"
                    material="Gold"
                    collision_mesh="${mesh_root}/tf3.stl"/>

    <xacro:box_link name="${TJ4_Distal_Link}"
                    width="${TJ4_Link_Width}" height="${TJ4_Link_Height}" depth="${TJ4_Link_Length}" mass="${TJ4_Link_Mass}"
                    origin_rpy="0 0 0"
                    origin_xyz="${TJ4_Link_Origin_X} ${TJ4_Link_Origin_Y} ${TJ4_Link_Origin_Z}"
                    visual_mesh="${mesh_root}/tf4.stl"
                    material="Gold"
                    collision_mesh="${mesh_root}/tf4.stl"/>

    <!-- TJ1 -->
    <xacro:revolute_joint jointName="${TJ1_Joint_Name}"
                          parent="${TJ1_Proximal_Link}" child="${TJ1_Distal_Link}"
                          origin_xyz="${TJ1_Origin_X} ${TJ1_Origin_Y} ${TJ1_Origin_Z}"
                          origin_rpy="${TJ1_Orientation_Roll} ${TJ1_Orientation_Pitch} ${TJ1_Orientation_Yaw}">
        <limit effort="${TJ1_Torque_Limit}" lower="${TJ1_Lower_Limit}" upper="${TJ1_Upper_Limit}" velocity="${TJ1_Speed_Limit}"/>
    </xacro:revolute_joint>

    <!-- TJ2 -->
    <xacro:revolute_joint jointName="${TJ2_Joint_Name}"
                          parent="${TJ2_Proximal_Link}" child="${TJ2_Distal_Link}"
                          origin_xyz="${TJ2_Origin_X} ${TJ2_Origin_Y} ${TJ2_Origin_Z}"
                          origin_rpy="${TJ2_Orientation_Roll} ${TJ2_Orientation_Pitch} ${TJ2_Orientation_Yaw}">
        <limit effort="${TJ2_Torque_Limit}" lower="${TJ2_Lower_Limit}" upper="${TJ2_Upper_Limit}" velocity="${TJ2_Speed_Limit}"/>
    </xacro:revolute_joint>

    <!-- TJ3 -->
    <xacro:revolute_joint jointName="${TJ3_Joint_Name}"
                          parent="${TJ3_Proximal_Link}" child="${TJ3_Distal_Link}"
                          origin_xyz="${TJ3_Origin_X} ${TJ3_Origin_Y} ${TJ3_Origin_Z}"
                          origin_rpy="${TJ3_Orientation_Roll} ${TJ3_Orientation_Pitch} ${TJ3_Orientation_Yaw}">
        <limit effort="${TJ3_Torque_Limit}" lower="${TJ3_Lower_Limit}" upper="${TJ3_Upper_Limit}" velocity="${TJ3_Speed_Limit}"/>
    </xacro:revolute_joint>

    <!-- TJ4 -->
    <xacro:revolute_joint jointName="${TJ4_Joint_Name}"
                          parent="${TJ4_Proximal_Link}" child="${TJ4_Distal_Link}"
                          origin_xyz="${TJ4_Origin_X} ${TJ4_Origin_Y} ${TJ4_Origin_Z}"
                          origin_rpy="${TJ4_Orientation_Roll} ${TJ4_Orientation_Pitch} ${TJ4_Orientation_Yaw}">
        <limit effort="${TJ4_Torque_Limit}" lower="${TJ4_Lower_Limit}" upper="${TJ4_Upper_Limit}" velocity="${TJ4_Speed_Limit}"/>
    </xacro:revolute_joint>
  </xacro:macro>

  <xacro:macro name="make_thumb_fixed" params="prefix reflect thumb_root_link">
    <!-- LINKS -->
    <xacro:box_link name="${TJ1_Distal_Link}"
                    width="${TJ1_Link_Width}" height="${TJ1_Link_Height}" depth="${TJ1_Link_Length}" mass="${TJ1_Link_Mass}"
                    origin_rpy="0 0 0"
                    origin_xyz="${TJ1_Link_Origin_X} ${TJ1_Link_Origin_Y} ${TJ1_Link_Origin_Z}"
                    visual_mesh="${mesh_root}/tf1_${prefix}.stl"
                    material="Gold"
                    collision_mesh="${mesh_root}/tf1_${prefix}.stl"/>

    <xacro:box_link name="${TJ2_Distal_Link}"
                    width="${TJ2_Link_Width}" height="${TJ2_Link_Height}" depth="${TJ2_Link_Length}" mass="${TJ2_Link_Mass}"
                    origin_rpy="0 0 0"
                    origin_xyz="${TJ2_Link_Origin_X} ${TJ2_Link_Origin_Y} ${TJ2_Link_Origin_Z}"
                    visual_mesh="${mesh_root}/tf2.stl"
                    material="Gold"
                    collision_mesh="${mesh_root}/tf2.stl"/>

    <xacro:box_link name="${TJ3_Distal_Link}"
                    width="${TJ3_Link_Width}" height="${TJ3_Link_Height}" depth="${TJ3_Link_Length}" mass="${TJ3_Link_Mass}"
                    origin_rpy="0 0 0"
                    origin_xyz="${TJ3_Link_Origin_X} ${TJ3_Link_Origin_Y} ${TJ3_Link_Origin_Z}"
                    visual_mesh="${mesh_root}/tf3.stl"
                    material="Gold"
                    collision_mesh="${mesh_root}/tf3.stl"/>

    <xacro:box_link name="${TJ4_Distal_Link}"
                    width="${TJ4_Link_Width}" height="${TJ4_Link_Height}" depth="${TJ4_Link_Length}" mass="${TJ4_Link_Mass}"
                    origin_rpy="0 0 0"
                    origin_xyz="${TJ4_Link_Origin_X} ${TJ4_Link_Origin_Y} ${TJ4_Link_Origin_Z}"
                    visual_mesh="${mesh_root}/tf4.stl"
                    material="Gold"
                    collision_mesh="${mesh_root}/tf4.stl"/>

    <!-- TJ1 -->
    <xacro:fixed_joint jointName="${TJ1_Joint_Name}"
                          parent="${TJ1_Proximal_Link}" child="${TJ1_Distal_Link}"
                          origin_xyz="${TJ1_Origin_X} ${TJ1_Origin_Y} ${TJ1_Origin_Z}"
                          origin_rpy="${TJ1_Orientation_Roll} ${TJ1_Orientation_Pitch} ${TJ1_Orientation_Yaw}"/>

    <!-- TJ2 -->
    <xacro:fixed_joint jointName="${TJ2_Joint_Name}"
                          parent="${TJ2_Proximal_Link}" child="${TJ2_Distal_Link}"
                          origin_xyz="${TJ2_Origin_X} ${TJ2_Origin_Y} ${TJ2_Origin_Z}"
                          origin_rpy="${TJ2_Orientation_Roll} ${TJ2_Orientation_Pitch} ${TJ2_Orientation_Yaw}"/>

    <!-- TJ3 -->
    <xacro:fixed_joint jointName="${TJ3_Joint_Name}"
                          parent="${TJ3_Proximal_Link}" child="${TJ3_Distal_Link}"
                          origin_xyz="${TJ3_Origin_X} ${TJ3_Origin_Y} ${TJ3_Origin_Z}"
                          origin_rpy="${TJ3_Orientation_Roll} ${TJ3_Orientation_Pitch} ${TJ3_Orientation_Yaw}"/>

    <!-- TJ4 -->
    <xacro:fixed_joint jointName="${TJ4_Joint_Name}"
                          parent="${TJ4_Proximal_Link}" child="${TJ4_Distal_Link}"
                          origin_xyz="${TJ4_Origin_X} ${TJ4_Origin_Y} ${TJ4_Origin_Z}"
                          origin_rpy="${TJ4_Orientation_Roll} ${TJ4_Orientation_Pitch} ${TJ4_Orientation_Yaw}"/>
  </xacro:macro>

  <!-- Actuators -->
  <xacro:macro name="v1_right_thumb_actuators" params="prefix api">
    <xacro:v1_actuator name="${RTA1_Actuator_Name}" api="${api}" />
    <xacro:v1_actuator name="${RTA2_Actuator_Name}" api="${api}" />
    <xacro:v1_actuator name="${RTA3_Actuator_Name}" api="${api}" />
  </xacro:macro>

  <xacro:macro name="v1_left_thumb_actuators" params="prefix api">
    <xacro:v1_actuator name="${LTA1_Actuator_Name}" api="${api}" />
    <xacro:v1_actuator name="${LTA2_Actuator_Name}" api="${api}" />
    <xacro:v1_actuator name="${LTA3_Actuator_Name}" api="${api}" />
  </xacro:macro>

  <!-- Transmissions -->
  <xacro:macro name="v1_right_thumb_transmissions" params="prefix">
    <xacro:simple_transmission jointName="${TJ1_Joint_Name}" actuatorName="${RTA1_Actuator_Name}" reduction="1" offset="0"/>
    <xacro:simple_transmission jointName="${TJ2_Joint_Name}" actuatorName="${RTA2_Actuator_Name}" reduction="1" offset="0"/>
    <xacro:finger2_transmission tranName="${prefix}ThumbTransmission" 
                                joint1="${TJ3_Joint_Name}"
                                joint2="${TJ4_Joint_Name}"
                                actuator="${RTA3_Actuator_Name}" />
  </xacro:macro>

  <xacro:macro name="v1_left_thumb_transmissions" params="prefix">
    <xacro:simple_transmission jointName="${TJ1_Joint_Name}" actuatorName="${LTA1_Actuator_Name}" reduction="1" offset="0"/>
    <xacro:simple_transmission jointName="${TJ2_Joint_Name}" actuatorName="${LTA2_Actuator_Name}" reduction="1" offset="0"/>
    <xacro:finger2_transmission tranName="${prefix}ThumbTransmission" 
                                joint1="${TJ3_Joint_Name}"
                                joint2="${TJ4_Joint_Name}"
                                actuator="${LTA3_Actuator_Name}" />
  </xacro:macro>

  <xacro:macro name="v1_right_thumb_transmissions_simple" params="prefix">
    <xacro:simple_transmission jointName="${TJ1_Joint_Name}" actuatorName="${RTA1_Actuator_Name}" reduction="1" offset="0"/>
    <xacro:simple_transmission jointName="${TJ2_Joint_Name}" actuatorName="${RTA2_Actuator_Name}" reduction="1" offset="0"/>
    <xacro:simple_transmission jointName="${TJ3_Joint_Name}" actuatorName="${RTA3_Actuator_Name}" reduction="1" offset="0"/>
  </xacro:macro>

  <xacro:macro name="v1_left_thumb_transmissions_simple" params="prefix">
    <xacro:simple_transmission jointName="${TJ1_Joint_Name}" actuatorName="${LTA1_Actuator_Name}" reduction="1" offset="0"/>
    <xacro:simple_transmission jointName="${TJ2_Joint_Name}" actuatorName="${LTA2_Actuator_Name}" reduction="1" offset="0"/>
    <xacro:simple_transmission jointName="${TJ3_Joint_Name}" actuatorName="${LTA3_Actuator_Name}" reduction="1" offset="0"/>
  </xacro:macro>
  
  <!-- Modes -->
  <xacro:macro name="v1_right_thumb_modes" params="prefix">
    <xacro:v1_modes jointName="${TJ1_Joint_Name}" actuatorName="${RTA1_Actuator_Name}" />
    <xacro:v1_modes jointName="${TJ2_Joint_Name}" actuatorName="${RTA2_Actuator_Name}" />
    <xacro:v1_modes jointName="${TJ3_Joint_Name}" actuatorName="${RTA3_Actuator_Name}" />
    <xacro:v1_modes jointName="${TJ4_Joint_Name}" actuatorName="${RTA3_Actuator_Name}" />
  </xacro:macro>

  <xacro:macro name="v1_left_thumb_modes" params="prefix">
    <xacro:v1_modes jointName="${TJ1_Joint_Name}" actuatorName="${LTA1_Actuator_Name}" />
    <xacro:v1_modes jointName="${TJ2_Joint_Name}" actuatorName="${LTA2_Actuator_Name}" />
    <xacro:v1_modes jointName="${TJ3_Joint_Name}" actuatorName="${LTA3_Actuator_Name}" />
    <xacro:v1_modes jointName="${TJ4_Joint_Name}" actuatorName="${LTA3_Actuator_Name}" />
  </xacro:macro>

  <!-- Complete interface -->
  <xacro:macro name="make_right_thumb_interface" params="api">
    <xacro:v1_right_thumb_actuators prefix="Right" api="${api}" />
    <xacro:v1_right_thumb_transmissions prefix="Right" />
    <xacro:v1_right_thumb_modes prefix="Right" />
  </xacro:macro>

  <xacro:macro name="make_left_thumb_interface" params="api">
    <xacro:v1_left_thumb_actuators prefix="Left" api="${api}" />
    <xacro:v1_left_thumb_transmissions prefix="Left" />
    <xacro:v1_left_thumb_modes prefix="Left" />
  </xacro:macro>

  <xacro:macro name="make_right_thumb_interface_simple" params="api">
    <xacro:v1_right_thumb_actuators prefix="Right" api="${api}" />
    <xacro:v1_right_thumb_transmissions_simple prefix="Right" />
    <xacro:v1_right_thumb_modes prefix="Right" />
  </xacro:macro>

  <xacro:macro name="make_left_thumb_interface_simple" params="api">
    <xacro:v1_left_thumb_actuators prefix="Left" api="${api}" />
    <xacro:v1_left_thumb_transmissions_simple prefix="Left" />
    <xacro:v1_left_thumb_modes prefix="Left" />
  </xacro:macro>

</robot>