<robot name="multisense_sl">
  <link name="head">
    <inertial>
      <origin xyz="-0.075493 3.3383E-05 0.02774" rpy="0 0 0" />
      <mass value="1.4199" />
      <inertia iyy="0.0041178" ixy="-1.5797E-06" iyz="-6.8415E-07" ixx="0.0039688" ixz="-0.00089293" izz="0.0035243" />
    </inertial>
    <visual>
      <origin xyz="-0.0446 0 0.0880" rpy="0 0 1.570795" />
      <geometry>
        <mesh filename="$(find mit_drcsim_scripts)/models/multisense_sl/meshes/base_link.wrl" />
      </geometry>
      <material name="">
        <color rgba="0.9098 0.44314 0.031373 1" />
      </material>
    </visual>
  </link>

  <gazebo reference="r_foot">
    <!-- contact sensor -->
    <sensor type="contact" name="r_foot_contact_sensor">
      <update_rate>1000.0</update_rate>
      <always_on>1</always_on>
      <contact>
        <collision>r_foot_collision</collision>
        <topic>/r_foot_contact</topic>
      </contact>
    </sensor>
  </gazebo>
  <gazebo reference="l_foot">
    <!-- contact sensor -->
    <sensor type="contact" name="l_foot_contact_sensor">
      <update_rate>1000.0</update_rate>
      <always_on>1</always_on>
      <contact>
        <collision>l_foot_collision</collision>
        <topic>/l_foot_contact</topic>
      </contact>
    </sensor>
  </gazebo>

  <gazebo>
    <plugin filename="libMultiSenseSLPlugin.so" name="multisense_plugin"/>
  </gazebo>

</robot>

