<robot name="drc_skeleton">  
  <link name="l_hand_point_mass">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <inertial>
      <mass value="3.1690"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <sphere radius="0.03"/>
      </geometry>
    </visual>
  </link>

  <link name="r_hand_point_mass">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <inertial>
      <mass value="3.1690"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <sphere radius="0.03"/>
      </geometry>
    </visual>
  </link>

<!-- COM numbers are made up for now -->
   <joint name="l_hand_joint" type="fixed">
    <parent link="l_hand"/>
    <child link="l_hand_point_mass"/>
    <origin rpy="0 0 0" xyz="0.004 0.1601 -0.0078"/>
  </joint>

<!-- COM numbers are made up for now -->
  <joint name="r_hand_joint" type="fixed">
    <parent link="r_hand"/>
    <child link="r_hand_point_mass"/>
    <origin rpy="0 0 0" xyz="0.004 -0.1601 -0.0078"/>
  </joint>

</robot>
